<main>
<section class="contact-banner position-relative">
    <div class="container">
        <div class="banner-action">
            <h1 class="banner_title">Contact Us</h1>
            <p class="banner_titles">Get in touch</p>
        </div>
    </div>
</section>
<section class="contact-details">
    <div class="container">
        <p class="help-text">For any assistance or enquiry, please feel free to reach out to us. We'd love to help!</p>

        <div class="contact-box">
            <li><span><img src="../../../assets/images/location.png" alt=""></span><a routerLink="">A401-412, World Trade Tower, Nr. BMW Showroom, SG Highway, Ahmedabad - 380051 Gujarat - India.</a></li>
            <li><span><img src="../../../assets/images/call-btn.png" alt=""></span><a routerLink="tel:+917378373783"><strong>+91 73 783 73 783</strong></a></li>
            <li><span><img src="../../../assets/images/sms-btn.png" alt=""></span><a routerLink="mailto:hello@realtymart.com">hello@realtymart.com</a></li>
        </div>
    </div>
</section>
</main>
