<main>
  <section class="career-banner position-relative">
    <div class="container">
      <div class="banner-action">
        <h1 class="banner_title">Career</h1>
        <p class="banner_titles">Current Openings</p>
      </div>
    </div>
  </section>

  <section class="you-career">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
          <h2 class="career-tab-head">CURRENT OPENINGS</h2>
          <div class="career-tab">
            <div
              class="career-boxx flex-column nav-pills me-3"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <!-- <button class="career-link active" id="v-pills-Openings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Openings" type="button" role="tab" aria-controls="v-pills-Openings" aria-selected="true"><li><span><img src="../../../assets/images/Openings.png" alt=""></span>All Openings ({{ careerList?.length }})</li></button> -->

              <!-- <button *ngFor="let careerCategory of careerCategorys" class="career-link" id="v-pills-Product-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ careerCategorys.name }}" type="button" role="tab" aria-controls="v-pills-{{ careerCategorys.name }}" aria-selected="false"><li><span><img src="{{ careerCategorys.icon }}" alt=""></span>{{ careerCategorys.name }} ({{ careerCategory?.length }})</li></button> -->
              <!-- Dynamic Tab Buttons -->
              <button
                *ngFor="let category of careerCategoryList; let i = index"
                class="career-link"
                [ngClass]="{ active: i === 0 }"
                [id]="'v-pills-' + category.name + '-tab'"
                data-bs-toggle="pill"
                [attr.data-bs-target]="'#v-pills-' + category.name"
                type="button"
                role="tab"
                [attr.aria-controls]="'v-pills-' + category.name"
                [attr.aria-selected]="i === 0 ? 'true' : 'false'"
              >
                <li>
                  <span><img [src]="category.icon" alt="" /></span>
                  {{ category.name }} ({{ careerList.length || 0 }})
                </li>
              </button>

              <!-- <button class="career-link" id="v-pills-Saless-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Saless" type="button" role="tab" aria-controls="v-pills-Saless" aria-selected="false"><li><span><img src="../../../assets/images/Sales.png" alt=""></span>Sales (13)</li></button>

                    <button class="career-link" id="v-pills-Technology-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Technology" type="button" role="tab" aria-controls="v-pills-Technology" aria-selected="false"><li><span><img src="../../../assets/images/Technology.png" alt=""></span>Technology (1)</li></button>

                    <button class="career-link" id="v-pills-Others-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Others" type="button" role="tab" aria-controls="v-pills-Others" aria-selected="false"><li><span><img src="../../../assets/images/Others.png" alt=""></span>Others (6)</li></button> -->
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12">
          <div class="career_details">
            <div class="tab-content profile-content" id="v-pills-tabContent">
              
              <!-- <div class="tab-pane table-responsive fade show active" id="v-pills-Openings" role="tabpanel" aria-labelledby="v-pills-Openings-tab">
                            <h2 class="career-heading">All Openings</h2>

                            <div class="jobRow">
                                <div class="col-sm-9 col-xs-12">
                                    <div class="job-discription">
                                        <div class="job-head">
                                            <h4>Job Title :</h4>
                                            <h4>Experience Range :</h4>
                                            <h4>Location :</h4>
                                        </div>
                                        <div class="job-acceptation">
                                            <p>Content Editor</p>
                                            <p>4+ Years</p>
                                            <p>Ahmedabad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="ol-sm-3 col-xs-12">
                                    <div class="know-more">
                                        <button data-bs-toggle="modal" data-bs-target="#exampleModal">Know More</button>
                                    </div>
                                </div>
                            </div>

                            <div class="jobRow">
                                <div class="col-sm-9 col-xs-12">
                                    <div class="job-discription">
                                        <div class="job-head">
                                            <h4>Job Title :</h4>
                                            <h4>Experience Range :</h4>
                                            <h4>Location :</h4>
                                        </div>
                                        <div class="job-acceptation">
                                            <p>Content Editor</p>
                                            <p>4+ Years</p>
                                            <p>Ahmedabad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="ol-sm-3 col-xs-12">
                                    <div class="know-more">
                                        <button>Know More</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
              <!-- Dynamic Tab Contents -->
              <div
                *ngFor="let category of careerCategoryList; let i = index"
                class="tab-pane fade"
                [ngClass]="{ 'show active': i === 0 }"
                [id]="'v-pills-' + category.name"
                role="tabpanel"
                [attr.aria-labelledby]="'v-pills-' + category.name + '-tab'"
              >
                <h2 class="career-heading">{{ category.name }}</h2>

                <!-- Optional: Display jobs under category if available -->
                <div *ngFor="let job of careerList" class="jobRow row">
                  <div class="col-sm-9 col-xs-12">
                    <div class="job-discription">
                      <div class="job-head">
                        <h4>Job Title :</h4>
                        <h4>Experience Range :</h4>
                        <h4>Location :</h4>
                      </div>
                      <div class="job-acceptation">
                        <p>{{ job.career_name }}</p>
                        <p>{{ job.experience_range }} Years</p>
                        <p>{{ job.location }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 col-xs-12">
                    <div class="know-more">
                      <button
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                      >
                        Know More
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="tab-pane fade"
                id="v-pills-Saless"
                role="tabpanel"
                aria-labelledby="v-pills-Saless"
              >
                <h2 class="career-heading">Sales</h2>
              </div>

              <div
                class="tab-pane fade"
                id="v-pills-Technology"
                role="tabpanel"
                aria-labelledby="v-pills-Technology"
              >
                <h2 class="career-heading">Technology</h2>
              </div>

              <div
                class="tab-pane fade"
                id="v-pills-Others"
                role="tabpanel"
                aria-labelledby="v-pills-Others"
              >
                <h2 class="career-heading">Others</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header job-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h3 class="TC-heading">Content Editor</h3>
          <ul class="job-model-acceptation">
            <li><strong>Experience Range:</strong> <span>4+ Years</span></li>
            <li><strong>Location:</strong> <span>Ahmedabad</span></li>
          </ul>
          <div class="job-all-description">
            <h5 class="job-points">Job brief :</h5>

            <p class="job-pera">
              We are looking for an Editor, with a good sense of what makes an
              interesting angle to a story, to juggle all the moving parts of
              publications. You will plan, coordinate, review and edit content.
              The successful candidate will be able to decide which ideas should
              be pursued and which should get dropped in order to meet quality
              and accuracy standards. The goal is to provide exceptional,
              informative and engaging content.
            </p>

            <h5 class="job-points mt-2">Responsibilities:</h5>
            <ul class="follow-conditions">
              <li>
                Coordinate online or print publishing cycle and manage content
                areas.
              </li>
              <li>
                Set publication standards and establish goals and expectations.
              </li>
              <li>
                Suggest stories and generate headline ideas in alignment with
                targeted audience’s preferences.
              </li>
              <li>
                Oversee layout (artwork, design, photography) and check content
                for accuracy and errors.
              </li>
              <li>Understanding of video content and platform.</li>
              <li>Proofread, edit and improve stories or pieces.</li>
              <li>Recruit and manage writers and reporters.</li>
            </ul>
            <h5 class="job-points mt-2">Requirements and skills :</h5>
            <ul class="follow-conditions">
              <li>Proven working experience as an Editor.</li>
              <li>
                Strong writing/editing/proofreading skills and an excellent
                portfolio.
              </li>
              <li>
                Hands on experience with MS Office and InDesign, Photoshop or
                other publishing tools.
              </li>
              <li>
                Proven familiarity with SEO and social media best practices.
              </li>
              <li>Understanding of video content and platform.</li>
              <li>Excellent written skills in English.</li>
              <li>An eye for detail along with critical thinking.</li>
              <li>Prioritizing and multitasking.</li>
              <li>BS degree in Journalism or in related field.</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer modal-job-footer">
          <p>
            To apply on this job, email your resume at
            <span
              ><strong
                ><a href="mailto:hello@realtymart.com" style="color:#e63525;">hello@realtymart.com</a></strong
              ></span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
