<main>
  <section class="matching-banner position-relative">
    <div class="container">
      <div class="banner-action">
        <h1 class="banner_title">Matching Properties Edit</h1>
      </div>
    </div>
  </section>
  <section class="edit-your-properties">
    <div class="container">
      <div class="matching-edit">
        <h2>Stay home & Share your requirement</h2>
        <p>Get notified with relevant matches</p>
      </div>
      <div class="edit-properties-form">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <form action="">
                <div class="edit-properties-box">
                    <h2>Property I'm looking for</h2>
                        <div class="contact-are">
                            <p class="Iam">I Want to</p>
                            <div class="types-contact">
                                <input type="radio" id="Buy" name="fav_language" value="Buy">
                                 <label for="Buy">Buy</label><br>
                                 <input type="radio" id="Rent" name="fav_language" value="Rent">
                                 <label for="Rent">Rent</label><br>
                            </div>
                        </div>
                        <div class="edit-one">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 pe-lg-4 pe-sm-0">
                                    <label for="Property-Type">Property Type</label>
                                    <select name="Property-Type" id="Property-Type" class="gold-form-input">
                                        <option value="" disabled selected hidden>Select Property Type</option>
                                        <option value="Lorem">Lorem</option>
                                        <option value="Lorem2">Lorem2</option>
                                        <option value="Lorem3">Lorem3</option>
                                        <option value="Lorem4">Lorem4</option>
                                      </select>
                                      <div class="under-ready mb-lg-3 mb-sm-3">
                                        <div class="d-flex align-items-center">
                                            <input type="checkbox" id="Construction" name="Construction" value="Construction add" class="mycheck">
                                            <label for="Construction" class="compares"> Under Construction</label><br>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <input type="checkbox" id="Readymove" name="Readymove" value="Readymove add" class="mycheck ms-lg-3 ms-sm-0">
                                            <label for="Readymove" class="compares"> Ready to Move</label><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ps-lg-4 ps-sm-0">
                                    <label for="Select-Budget">Budget</label>
                                    <select name="Select-Budget" id="Select-Budget" class="gold-form-input mb-sm-0">
                                        <option value="" disabled selected hidden>Select Budget</option>
                                        <option value="Lorem">Lorem</option>
                                        <option value="Lorem2">Lorem2</option>
                                        <option value="Lorem3">Lorem3</option>
                                        <option value="Lorem4">Lorem4</option>
                                      </select>
                                </div>
                            </div>
                        </div>

                        <div class="edit-two">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 pe-lg-4 pe-sm-0">
                                    <label for="Select-Bedroom">Bedroom</label>
                                    <select name="Select-Bedroom" id="Select-Bedroom" class="gold-form-input">
                                        <option value="" disabled selected hidden>Select Bedroom</option>
                                        <option value="Lorem">Lorem</option>
                                        <option value="Lorem2">Lorem2</option>
                                        <option value="Lorem3">Lorem3</option>
                                        <option value="Lorem4">Lorem4</option>
                                      </select>
                                      <div class="row">
                                        <div class="col-md-4">
                                            <select name="number-code" id="number-code" class="gold-form-input">
                                                <option value="Sq.mt">Sq.mt</option>
                                                <option value="Lorem">Lorem</option>
                                                <option value="Lorem">Lorem</option>
                                                <option value="Lorem">Lorem</option>
                                                <option value="Lorem">Lorem</option>
                                              </select>
                                        </div>
                                        <div class="col-md-8">
                                         <input type="text" id="" name="" placeholder="" class="gold-form-input"required><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ps-lg-4 ps-sm-0">
                                    <label for="Floor-Preference">Floor Preference</label>
                                    <select name="Floor-Preference" id="Floor-Preference" class="gold-form-input mb-sm-0">
                                        <option value="" disabled selected hidden>Any Floor</option>
                                        <option value="Lorem">Lorem</option>
                                        <option value="Lorem2">Lorem2</option>
                                        <option value="Lorem3">Lorem3</option>
                                        <option value="Lorem4">Lorem4</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="edit-properties-box">
                    <h2>Location</h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 pe-lg-4 pe-sm-0">
                            <label for="City">City</label>
                            <select name="City" id="City" class="gold-form-input mb-lg-0 mb-sm-3">
                                <option value="" disabled selected hidden>Enter City</option>
                                <option value="Lorem">Lorem</option>
                                <option value="Lorem2">Lorem2</option>
                                <option value="Lorem3">Lorem3</option>
                                <option value="Lorem4">Lorem4</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ps-lg-4 ps-sm-0">
                            <label for="Locality/Project">Locality/Project</label>
                            <select name="Locality/Project" id="Locality/Project" class="gold-form-input mb-0">
                                <option value="" disabled selected hidden>Enter Locality and Project</option>
                                <option value="Lorem">Lorem</option>
                                <option value="Lorem2">Lorem2</option>
                                <option value="Lorem3">Lorem3</option>
                                <option value="Lorem4">Lorem4</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="edit-properties-box">
                    <div class="under-ready mb-3">
                        <p>Receive Alerts for</p>
                        <div class="d-flex align-items-center">
                            <input type="checkbox" id="Property" name="Property" value="Property add" class="mycheck">
                            <label for="Property" class="compares">Property</label><br>
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="checkbox" id="Projects" name="Projects" value="Projects add" class="mycheck ms-lg-3 ms-sm-0">
                            <label for="Projects" class="compares"> Projects</label><br>
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="checkbox" id="editAgents" name="editAgents" value="editAgents add" class="mycheck ms-lg-3 ms-sm-0">
                            <label for="editAgents" class="compares"> Agents</label><br>
                        </div>
                    </div>
                    <div class="contact-are">
                        <p class="Iam">Alerts Frequency</p>
                        <div class="types-contact">
                            <input type="radio" id="Daily" name="fav_language" value="Daily">
                             <label for="Daily">Daily</label><br>
                             <input type="radio" id="Thrice-week" name="fav_language" value="Thrice-week">
                             <label for="Thrice-week">Thrice a week</label><br>
                             <input type="radio" id="Weekly" name="fav_language" value="Weekly">
                             <label for="Weekly">Weekly</label><br>
                        </div>
                    </div>
                    <p class="form-footer">I Agree to RealtyMart Terms of Use' <a routerLink="../terms-conditions">T & C</a></p>
                    <div class="share-req">
                        <a routerLink="">Share your requirements</a>
                    </div>
                </div>

                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="set-alert">
                    <p>Why set an Alert?</p>
                </div>
                <div class="alert-items">
                    <ul class="alert-bullet">
                        <li><span><img src="../../../assets/images/Object1.png" alt=""></span>Get best matches regularly in your inbox</li>
                        <li><span><img src="../../../assets/images/Object2.png" alt=""></span>Enjoy power to choose the best !</li>
                        <li><span><img src="../../../assets/images/Object3.png" alt=""></span>And what's more... Its Free !</li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</main>
