<section class="reg_sec">
  <div class="container">
    <div class="reg_logo text-center">
      <img
        src="../assets/images/logo.svg"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="reg_dis">
      <h2><strong>Thank you for registering with us!</strong></h2>
      <p>Our team will get in touch with you within 24 to 48 working hours.
        Your profile will be activated after the verification process, and your user ID and password will be emailed to you.</p>
      <a href="#" (click)="goHome()">Back to Home</a>
    </div>
    <div class="progress-container">
      <p>Redirecting in {{ countdown }} seconds...</p>
      <div class="progress-bar" [style.width.%]="progress"></div>
    </div>
  </div>
</section>
