<main>
<section class="blog-banner position-relative">
    <div class="container">
        <div class="banner-action">
            <h1 class="banner_title">Blog</h1>
        </div>
    </div>
</section>
<section class="blog-details">
    <div class="container">
        <h2 class="blog-top-head">{{ blogdetails.title}}</h2>
        <div class="blog-detail-mg">
            <img src="{{ blogdetails.image}}" alt="" class="img-fluid">
        </div>
        <h3 class="blog-sub-head">{{ blogdetails.title}}</h3>
        <p class="date">{{ blogdetails.publish_date}}</p>

        <p class="blog-detail-pera" [innerHTML]="blogdetails.description"></p>

        <!-- <p class="blog-detail-pera">Fusce neque mauris, eleifend faucibus vehicula at, sagittis vel dolor. Aenean bibendum ac turpis at vulputate. Duis bibendum leo non bibendum placerat. Vivamus auctor turpis at dui fringilla, eu porta orci porttitor. Vestibulum vel facilisis purus. Vivamus tempor odio urna, in mattis sem ullamcorper eget. Vestibulum in vestibulum nisl. Duis nunc nisl, aliquet vel hendrerit vitae, viverra vitae purus. Quisque mauris ex, tempor nec ex ac, tempor rhoncus magna. Sed in velit sit amet elit commodo viverra. Sed placerat erat at tortor suscipit ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam rutrum suscipit ex, vel tincidunt eros mollis ut.</p>


        <h4 class="blog-point-head">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p class="blog-detail-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tortor sed lorem bibendum semper. Praesent pellentesque metus eget sapien aliquet, sed volutpat enim feugiat. Vestibulum aliquet hendrerit faucibus. Aenean id facilisis elit. Ut quis metus risus. Mauris posuere semper efficitur. Curabitur ac posuere lacus, quis cursus ante. Fusce hendrerit nibh at tristique hendrerit. Aliquam erat volutpat. Cras ex mi, porta ac sem id, pharetra tincidunt metus. Morbi ex erat, ultrices eget urna nec, lacinia ultrices lacus. Fusce a ante eget dolor blandit gravida vitae sit amet mi.</p>

        <p class="blog-detail-pera">Fusce neque mauris, eleifend faucibus vehicula at, sagittis vel dolor. Aenean bibendum ac turpis at vulputate. Duis bibendum leo non bibendum placerat. Vivamus auctor turpis at dui fringilla, eu porta orci porttitor. Vestibulum vel facilisis purus. Vivamus tempor odio urna, in mattis sem ullamcorper eget. Vestibulum in vestibulum nisl. Duis nunc nisl, aliquet vel hendrerit vitae, viverra vitae purus. Quisque mauris ex, tempor nec ex ac, tempor rhoncus magna. Sed in velit sit amet elit commodo viverra. Sed placerat erat at tortor suscipit ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam rutrum suscipit ex, vel tincidunt eros mollis ut.</p>


        <h4 class="blog-point-head">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p class="blog-detail-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tortor sed lorem bibendum semper. Praesent pellentesque metus eget sapien aliquet, sed volutpat enim feugiat. Vestibulum aliquet hendrerit faucibus. Aenean id facilisis elit. Ut quis metus risus. Mauris posuere semper efficitur. Curabitur ac posuere lacus, quis cursus ante. Fusce hendrerit nibh at tristique hendrerit. Aliquam erat volutpat. Cras ex mi, porta ac sem id, pharetra tincidunt metus. Morbi ex erat, ultrices eget urna nec, lacinia ultrices lacus. Fusce a ante eget dolor blandit gravida vitae sit amet mi.</p>
        <ul class="blog-detail-bullats">
            <li>Fusce neque mauris, eleifend faucibus vehicula at, sagittis vel dolor.</li>
            <li>Fusce neque mauris, eleifend faucibus vehicula at, sagittis vel </li>
            <li>Fusce neque mauris, eleifend faucibus vehicula at, sagittis </li>
            <li>Fusce neque mauris, eleifend faucibus vehicula at. </li>
        </ul>

        <h4 class="blog-point-head">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p class="blog-detail-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tortor sed lorem bibendum semper. Praesent pellentesque metus eget sapien aliquet, sed volutpat enim feugiat. Vestibulum aliquet hendrerit faucibus. Aenean id facilisis elit. Ut quis metus risus. Mauris posuere semper efficitur. Curabitur ac posuere lacus, quis cursus ante. Fusce hendrerit nibh at tristique hendrerit. Aliquam erat volutpat. Cras ex mi, porta ac sem id, pharetra tincidunt metus. Morbi ex erat, ultrices eget urna nec, lacinia ultrices lacus. Fusce a ante eget dolor blandit gravida vitae sit amet mi.</p>

        <p class="blog-detail-pera">Fusce neque mauris, eleifend faucibus vehicula at, sagittis vel dolor. Aenean bibendum ac turpis at vulputate. Duis bibendum leo non bibendum placerat. Vivamus auctor turpis at dui fringilla, eu porta orci porttitor. Vestibulum vel facilisis purus. Vivamus tempor odio urna, in mattis sem ullamcorper eget. Vestibulum in vestibulum nisl. Duis nunc nisl, aliquet vel hendrerit vitae, viverra vitae purus. Quisque mauris ex, tempor nec ex ac, tempor rhoncus magna. Sed in velit sit amet elit commodo viverra. Sed placerat erat at tortor suscipit ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam rutrum suscipit ex, vel tincidunt eros mollis ut.</p>

        <h4 class="blog-point-head">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p class="blog-detail-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tortor sed lorem bibendum semper. Praesent pellentesque metus eget sapien aliquet, sed volutpat enim feugiat. Vestibulum aliquet hendrerit faucibus. Aenean id facilisis elit. Ut quis metus risus. Mauris posuere semper efficitur. Curabitur ac posuere lacus, quis cursus ante. Fusce hendrerit nibh at tristique hendrerit. Aliquam erat volutpat. Cras ex mi, porta ac sem id, pharetra tincidunt metus. Morbi ex erat, ultrices eget urna nec, lacinia ultrices lacus. Fusce a ante eget dolor blandit gravida vitae sit amet mi.</p>

        <h4 class="blog-point-head">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p class="blog-detail-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tortor sed lorem bibendum semper. Praesent pellentesque metus eget sapien aliquet, sed volutpat enim feugiat. Vestibulum aliquet hendrerit faucibus. Aenean id facilisis elit. Ut quis metus risus. Mauris posuere semper efficitur. Curabitur ac posuere lacus, quis cursus ante. Fusce hendrerit nibh at tristique hendrerit. Aliquam erat volutpat. Cras ex mi, porta ac sem id, pharetra tincidunt metus. Morbi ex erat, ultrices eget urna nec, lacinia ultrices lacus. Fusce a ante eget dolor blandit gravida vitae sit amet mi.</p>
        <ul class="blog-detail-bullats">
            <li>Fusce neque mauris, eleifend faucibus vehicula at, sagittis vel dolor.</li>
            <li>Fusce neque mauris, eleifend faucibus vehicula at, sagittis vel </li>
            <li>Fusce neque mauris, eleifend faucibus vehicula at, sagittis </li>
            <li>Fusce neque mauris, eleifend faucibus vehicula at. </li>
        </ul> -->
    </div>
</section>
</main>
