<main>
    <section class="buy-projects position-relative">
        <div class="container">
            <div class="banner-small">
                <h1 class="banner_title">Property Valuation</h1>
                <p class="banner_small">Property Value</p>
            </div>
        </div>
    </section>
    <section class="ccl_value">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="legal_value">Know the right legal value of your
                        property <br> <span class="fw-bold">Get a quote from
                            experts before you buy or sell</span></p>
                    <!-- <a class="value_btn" routerLink>Property Valuation</a> -->

                    <div class="value_slider">
                        <ngx-slick-carousel
                        class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig1">
                        <div ngxSlickItem class="slide">
                            <div class="value_slid_box">
                                <p class="value_banefit">Benefits for buyers</p>
                                <ul class="value_slid_point">
                                    <li>Know the real price of the property</li>
                                    <li>Know the real amount of pre-approved loan</li>
                                </ul>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="value_slid_box">
                                <p class="value_banefit">Benefits for Sellers</p>
                                <ul class="value_slid_point">
                                    <li>Get the right price of your property</li>
                                    <li>Get the valuation certificate for negotiation</li>
                                </ul>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="value_slid_box">
                                <p class="value_banefit">Residential valuation</p>
                                <ul class="value_slid_point">
                                    <li>Get a full fledge inspection, market evaluation, & municipality information</li>
                                    <li>Get the legal certification of your property</li>
                                </ul>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="value_slid_box">
                                <p class="value_banefit">Valuation for plot</p>
                                <ul class="value_slid_point">
                                    <li>Get faster loans</li>
                                    <li>Get the legal NOC</li>
                                </ul>
                            </div>
                        </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="value_img">
                        <img src="../../../assets/images/value-img.jpg"
                            alt="value" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="correct_valuation">
        <div class="container">
            <h2 class="valuation_title text-center">Know the correct valuation of your property</h2>
            <p class="valuation_pera text-center">Get the most accurate estimate for your properties for any project, society, or locality</p>
            <div class="bg_value">
                <img src="../../../assets/images/value-ssbg.jpg" alt="" class="back_mg img-fluid">
                <ul class="correct_pont">
                    <li><img src="../../../assets/images/right_mg.jpg" alt="">Offline site verification</li>
                    <li><img src="../../../assets/images/right_mg.jpg" alt="">Get the valuation from the govt. registered valuers</li>
                    <li><img src="../../../assets/images/right_mg.jpg" alt="">35+ checks by experts</li>
                    <li>Sort out all your valuation-related queries <br>
                        Send your queries now and we will respond within 24 hrs</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="correct_valuation">
        <div class="container">
            <h2 class="valuation_title text-center">Property valuation from RealtyMart</h2>
            <div class="round_area">
                <div class="round_bg">
                    <p>100% unbiased
                        valuation</p>
                </div>
                <div class="round_bg" style="background-color: #F3EBF9;">
                    <p>Govt. registered
                        valuers</p>
                </div>
                <div class="round_bg" style="background-color: #E8F5E7;">
                    <p>Protection against
                        third parties</p>
                </div>
                <div class="round_bg" style="background-color: #FFF8E4;">
                    <p>Get pre-approved
                        loans</p>
                </div>
            </div>
        </div>
    </section>
    <section class="what_valuer">
        <div class="container">
            <h2 class="valuation_title add_pd text-center">What does a property valuer do?</h2>
            <div class="valuer_show">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a class="text-decoration-none" routerLink="">
                            <div class="box_valuer">
                                <img src="../../../assets/images/for_buyers.webp" alt="Valuation for buyers" class="img-fluid">
                                <div class="valuer_content">
                                    <h3>Valuation for buyers</h3>
                                    <p>Secured your dream property? Allow a Certified Valuation Expert to verify its true value, ensuring your investment is right and cost-effective.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a class="text-decoration-none" routerLink="">
                            <div class="box_valuer">
                                <img src="../../../assets/images/for_sellers.webp" alt="Valuation for sellers" class="img-fluid">
                                <div class="valuer_content">
                                    <h3>Valuation for sellers</h3>
                                    <p>Looking for a swift property sale? Ensure precise pricing with the assistance of our expert appraisers. Discover the true worth of your property effortlessly.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a class="text-decoration-none" routerLink="">
                            <div class="box_valuer">
                                <img src="../../../assets/images/strategic_advisiory.webp" alt="Strategic advisory" class="img-fluid">
                                <div class="valuer_content">
                                    <h3>Strategic advisory</h3>
                                    <p>Receive expert assistance for a variety of property-related concerns, including legal responsibilities, in-depth market value assessments, acquisition strategies, and more.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a class="text-decoration-none" routerLink="">
                            <div class="box_valuer">
                                <img src="../../../assets/images/process.webp" alt="Process" class="img-fluid">
                                <div class="valuer_content">
                                    <h3>Process</h3>
                                    <ul>
                                        <li>Choose a service </li>
                                        <li>Submit your property information and documents </li>
                                        <li>Get the valuation report from the experts</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="correct_valuation">
        <div class="container">
            <h2 class="valuation_title text-center">All the things you need to know about property valuation <br> <span class="text-danger">What Does a Property Valuer Do?</span></h2>
            <p class="valuation_pera text-center mt-3">Property Valuers are seasoned experts who perform comprehensive property assessments and provide detailed reports estimating a property's value. Their services are available for residential, industrial, and commercial properties alike. These professionals possess extensive knowledge of the various factors influencing property values. The role of a property valuer typically encompasses:</p>
            <div class="things_area">
                <div class="things_box">
                    <h3>Property Evaluation:</h3>
                    <p>Property valuers are responsible for meticulously measuring and documenting a property on-site. This includes obtaining precise measurements and capturing date-stamped images. Valuers assess the property in its entirety, making comprehensive notes.</p>
                </div>
                <div class="things_box">
                    <h3>Property Inspection:</h3>
                    <p>Valuers thoroughly inspect and assess the condition of the property. This involves identifying structural issues, determining the number of rooms, evaluating layout, parking facilities, landscaping, amenities, flooring, and more. Valuers leave no stone unturned in examining all aspects of the property and maintaining meticulous records.</p>
                </div>
                <div class="things_box">
                    <h3>Location Assessment:</h3>
                    <p>Location plays a pivotal role in property valuation. Property valuers meticulously analyze the location, its demand, proximity to major parks, and prevailing circle rates. Based on these factors, they assess the present value of the property and make future projections.</p>
                </div>
                <div class="things_box">
                    <h3>Property Recommendations:</h3>
                    <p>Property valuers can offer valuable advice to clients on effective property buying and selling strategies. This includes suggesting properties that align with a client's requirements and providing support throughout the process.</p>
                </div>
                <div class="things_box">
                    <h3>Auctioning & Support:</h3>
                    <p>Property valuers also assist in the auctioning process of properties. This involves strategic marketing to attract the best buyers and handling all necessary paperwork. Valuers can also mediate and resolve property-related disputes by advocating for their clients' rights.</p>
                </div>
                <div class="things_box">
                    <h3>Final Property Report:</h3>
                    <p>Finally, property valuers compile comprehensive reports summarizing their findings regarding the property. When a client is satisfied with the valuation, valuers can further facilitate the property's sale.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="what_valuer">
        <div class="container">
            <h2 class="valuation_title add_pd text-center">How does a property valuer help?</h2>
            <div class="help_valuer_box">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="../../../assets/images/valuer-help.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <p class="valuation_pera">A Property Valuer offers valuable support to both buyers and sellers by:</p>
                        <ul class="help_ponts_valuable">
                            <li><span><img src="../../../assets/images/right_mg.jpg" alt=""></span>Determining Precise Property Value: Whether it's a residential, commercial, or industrial
                                property, they accurately assess its value.</li>
                            <li><span><img src="../../../assets/images/right_mg.jpg" alt=""></span>Maximizing Your Savings: They help you optimize your investment, ensuring you get the
                                most value for your money.</li>
                            <li><span><img src="../../../assets/images/right_mg.jpg" alt=""></span>Providing Comprehensive Property Reports: Valuers create detailed reports covering
                                property status, specifications, maintenance, and more.</li>
                            <li><span><img src="../../../assets/images/right_mg.jpg" alt=""></span>Offering Strategic Investment Advice: They provide strategic guidance to make informed
                                investment decisions.</li>
                            <li><span><img src="../../../assets/images/right_mg.jpg" alt=""></span>Identifying Potential Disputes: Valuers bring potential issues to your attention, helping
                                you avoid disputes.</li>
                            <li><span><img src="../../../assets/images/right_mg.jpg" alt=""></span>Conducting Property Auctions: They can manage property auctions efficiently.</li>
                            <li><span><img src="../../../assets/images/right_mg.jpg" alt=""></span>Compensation Assessment: Valuers assess compensation matters when necessary.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="correct_valuation">
        <div class="container">
            <h2 class="valuation_title text-center">When should you choose for property valuation?</h2>
            <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig2">
            <div ngxSlickItem class="slide">
                <div class="valuation_slider">
                    <h3>Property Valuation for Buying or Selling:</h3>
                    <p>Whether you're in the market to buy or sell a property, seeking professional appraisal services is pivotal. A precise understanding of a property's fair value empowers you to negotiate effectively and potentially save substantial sums.</p>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="valuation_slider">
                    <h3>Property Valuation for Loans:</h3>
                    <p>When applying for a loan using your property as collateral, its appraisal holds utmost significance. Banks typically base loan approvals on the appraised property value rather than the listed price, making an accurate valuation imperative.</p>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="valuation_slider">
                    <h3>Property Valuation for Tax Assessment:</h3>
                    <p>Property taxes are calculated based on your property's assessed value. Property valuation aids in gauging the accurate tax liabilities associated with your property, ensuring you pay the correct amount in taxes.</p>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="valuation_slider">
                    <h3>Property Valuation for Stamp Duty Calculation:</h3>
                    <p>Acquiring a property entails paying stamp duty and registration charges to the government. These expenses are directly tied to the property's value. A precise property valuation can lead to potential savings on these charges, lightening your financial burden.</p>
                </div>
            </div>
            </ngx-slick-carousel>
        </div>
    </section>
    <section class="correct_valuation">
        <div class="container">
            <h2 class="valuation_title text-center">Process of property valuation</h2>
            <div class="process">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a class="text-decoration-none" routerLink="">
                            <div class="process_area">
                                <img src="../../../assets/images/valuation1.jpg" alt="" class="img-fluid">
                                <div class="process_disc">
                                    <h3>Property Valuation in Real Estate
                                        Transactions:</h3>
                                    <p>Whether you're on the verge of purchasing or selling a property, the involvement of professional appraisal services is a game-changer. A precise grasp of a property's true worth equips you with the negotiating prowess to secure favorable deals and potentially reduce your expenditure significantly.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a class="text-decoration-none" routerLink="">
                            <div class="process_area">
                                <img src="../../../assets/images/valuation2.jpg" alt="" class="img-fluid">
                                <div class="process_disc">
                                    <h3>Property Valuation for Loan
                                        Applications:</h3>
                                    <p>When you're leveraging your property as collateral to secure a loan, the appraisal of your property takes center stage. Financial institutions typically hinge loan approvals on the appraised value of the property, rather than its listed price, underscoring the vital importance of an accurate valuation.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a class="text-decoration-none" routerLink="">
                            <div class="process_area">
                                <img src="../../../assets/images/valuation3.jpg" alt="" class="img-fluid">
                                <div class="process_disc">
                                    <h3>Property Valuation for Taxation
                                        Clarity:</h3>
                                    <p>Property taxes are computed based on the assessed value of your property. Property valuation steps in to provide clarity on your property's true worth, ensuring you meet your tax obligations accurately and fairly.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a class="text-decoration-none" routerLink="">
                            <div class="process_area">
                                <img src="../../../assets/images/valuation4.jpg" alt="" class="img-fluid">
                                <div class="process_disc">
                                    <h3>Property Valuation for Stamp
                                        Duty Calculations:</h3>
                                    <p>Property acquisitions come with the responsibility of paying stamp duty and registration charges to the government. These expenses are intricately linked to the property's value. A meticulous property valuation can translate into potential savings on these charges, lightening your financial load.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="what_valuer">

        <div class="container">
            <h2 class="valuation_title add_pd text-center">Why is a property evaluation report important?</h2>
            <div class="evaluation_report">
                <p>A Property Valuation Report is the outcome of a meticulous property inspection carried out by a certified valuer. It stands as a comprehensive document, delving into every facet of the property's valuation process. Within this report lies a treasure trove of information, revealing precisely how the valuer has arrived at the property's assessed worth.</p>
                <p>This valuable document serves as a beacon of insight for both buyers and sellers. It offers a window into the genuine value of the property, serving as a reliable reference point for determining its fair market price. In essence, the Property Valuation Report is your compass in the world of property transactions, guiding you toward an informed and equitable deal.
                </p>
            </div>
        </div>
    </section>
    <section class="correct_valuation">
        <div class="container">
            <h2 class="valuation_title text-center">FAQ</h2>
            <div class="faq_section">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h3 class="accordion_title">How to calculate the value of the property?</h3>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Precision in property valuation demands a skilled touch. When it comes to determining the true worth of your property, enlist the assistance of property valuation professionals. These experts possess a wealth of knowledge regarding the dynamic property market, enabling them to provide you with a precise and well-informed assessment.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h3 class="accordion_title">What is the fair market value of the property?</h3>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h3 class="accordion_title">Services included in the home valuation process</h3>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              <h3 class="accordion_title">Types of property valuation methods</h3>
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              <h3 class="accordion_title">Documents required for property valuation</h3>
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </section>
</main>
