.matching-banner {
  background-image: url(../../../assets/images/pricing_plan_bg_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}

.matching-banner:before {
  content: "";
  width: 100%;
  position: absolute;
  height: inherit;
  background-color: #000;
  opacity: 0.6;
}

.sub-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}

.pricing-heading {
  font-weight: 700;
  font-size: 52px;
}

.pricing-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #666666;
  margin-top: 10px;
}

.price {
  font-weight: 700;
  font-size: 35px;
}

.header-section{
  margin-bottom: 53px;
}

.unit {
  font-weight: 700;
  font-size: 20px;
}

.leads {
  background: #FAFAFA;
  border-radius: 6px;
  height: 35px;
}

.active-card {
  border: 2px solid #000;
}

.active-plan {
  border: 2px solid #ef3b24 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;
}

.plan-card:hover {
  transform: translateY(-3px);
}

.plan-card {
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid #DDDDDD;
  padding: 18px 21px;
}

.active-column {
  background: #f8f9fa;
  font-weight: 600;
}

.feature-table td,
.feature-table th {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.feature-table td:first-child,
.feature-table th:first-child {
  text-align: left;
}

.recommended-badge {
  position: absolute;
  top: 0;
  left: 37%;
  transform: translateX(-50%);
  background: #ef3b24;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  min-width: 150px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 0 0 20px 20px;
  z-index: 2;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.pricing-table {
  min-width: 900px;
}

.feature-table th,
.feature-table td {
  min-width: 183px;
  text-align: center;
  vertical-align: middle;
  padding: 30px 34px;
  border-bottom: 1px solid #DDDDDD !important;
}

.feature-table td{
  color:#040707;
}



@media(min-width:1440px){
  .plan-cards{
    justify-content: start;
  }
}

  
  
.table-header > th{
  background: #FAFAFA;
  color: #333333;
}

.table-border{
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  margin-top: 53px;
}

.feature-table tbody tr:last-child td {
    border-bottom: none !important;
}


@media(max-width:1400px){
    .plan-cards{
      justify-content: space-evenly;
    }
}

.whole-section{
  margin-top: 80px;
}

.matching-banner{
  height: 370px;
}

.notes-header{
  font-size: 34px;
  margin-bottom: 24px;
}

.notes-text li{
  color :#666666;
  line-height: 28px;
  font-size: 18px;
}

@media(max-width:2560px){
    .plan-cards{
      justify-content: space-between;
    }

    .plan-card{
      width: 17rem;
    }
}
  
@media(max-width:1920px){

  .plan-card{
      width: 19rem;
    }

  .sub-title{
    font-size: 24px;
    line-height: 30px;
  }

  .pricing-heading{
    font-size: 60px;
  }

  .pricing-text{
    font-size: 18px;
    line-height: 26px ;
  }

  .header-card{
    font-size: 24px;
    line-height: 30px;
  }

  .price{
    font-size: 48px;
  }
  .unit{
    font-size: 24px;
  }
  .per-year{
    font-size: 18px;;
    line-height: 24px;
  }
  .property-upto{
    font-size: 20px;
    font-weight: 400;
  }

  .notes{
    margin-top: 58px;
  }
}
@media(max-width:1440px){
.banner_title{
  font-size: 41px;
}
.sub-title{
  font-size: 21px;
}
.pricing-heading{
  font-size: 40px;
}
.pricing-text{
  font-size: 16px;
}
}
@media(max-width:1368px){
  .plan-card{
    width:17rem !important;
  }
}
@media(max-width:1198px){
  .plan-cards{
    justify-content: center;
    gap: 19px;
  }
}
@media(max-width:992px){
  .plan-card{
    width:21rem !important;
  }

  .pricing-heading{
    font-size: 50px;
  }

  .feature-table th:first-child,
.feature-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  text-align: left;
}
}
@media(max-width:768px){
  .plan-cards{
    justify-content: center;
  }

  .plan-card{
    margin: 6px;
  }

  .feature-table th,td{
    padding: 20px 18px !important;
  }

  .notes-header{
    font-size: 26px;
  }

  .whole-section{
    margin-top: 40px;
  }

  .header-section{
    margin-bottom: 0px;
  }

  .property-upto{
    font-size: 16px;
  }

  .price{
    font-size: 30px;
  }

  .per-year{
    font-size: 15px;
  }

  .feature-table td,
.feature-table th {
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
}

  .unit{
    font-size: 24px;
  }

  .per-year{
    font-size: 16px;
  }
}
@media(max-width:576px){
  .pricing-heading{
    font-size: 38px;
  }

  .plan-card{
    width: 23rem !important;
  }
}
@media(ma){}
@media(max-width:481px){
  .pricing-heading{
    font-size: 33px;
  }
}
@media (max-width:425px) {
  .pricing-heading {
    font-size: 25px;
  }
  .sub-title{
    font-size: 16px;
  }
}
@media(max-width:375px) {
  .pricing-heading {
    font-size: 21px;
  }
  
  .header-card{
    font-size: 21px;
  }
    .pricing-text {
      font-size: 14px;
    }
  
    .plan-card {
      margin-bottom: 20px;
    }
    .plan-cards{
      justify-content: center;
    }
    .banner_title{
      font-size: 29px;
    }
}