<!-- <p>custom-autocomplete works!</p>

jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
jaldeep <br>
<input type="text" (input)="onInput($event)" [(ngModel)]="query">
<ul *ngIf="showDropdown">
  <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">{{ suggestion }}</li>
</ul>
 -->
