<main>
    <!-- <section class="investment_bg position-relative">
        <div class="container">
            <div class="banner-small">
                <h1 class="banner_title">Investment hotspot</h1>
                <p class="banner_small">Everything you need to know</p>
            </div>
        </div>
    </section> -->
    <section class="correct_valuation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2 class="advice">Get advice on call</h2>
                    <p class="about_advice">Uncertain about where, when, or what
                        to buy?</p>
                    <h3 class="need_worry">No need to worry!</h3>
                    <p class="need_knowledge">Our property advisor with
                        unrivaled knowledge and expertise is merely a phone call
                        away, and the best part is, it's absolutely FREE.</p>
                    <ul class="need_points">
                        <li>Receive personalized guidance throughout your
                            home-buying journey.</li>
                        <li>Explore comprehensive insights about any
                            neighborhood with a single call.</li>
                        <li>Gain in-depth information about the project and
                            developer before making your purchase.</li>
                        <li>Have all your questions answered by our local
                            experts.</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="investment_img">
                        <img src="../../../assets/images/Investment-img.png"
                            alt="Investment" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>