<main>
<section class="gold-package position-relative">
    <div class="container">
        <div class="banner-small">
            <h1 class="banner_title">Gold</h1>
            <p class="banner_small">Advertise with us</p>
        </div>
    </div>
</section>

<section class="prime-gold">
    <div class="container">
        <div class="gold-details">
            <div class="row">
               <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="gold-box">
                    <div class="head-gold">
                        <div class="gold-titles">
                            <h3>GOLD</h3>
                        </div>
                        <div class="price-titles">
                            <p class="gold-off"> 50% Off</p>
                            <p class="main-price"><del class="del-text">` 5198</del><br>₹ 2799</p>
                        </div>
                    </div>
                    <div class="bulate-gold">
                        <ul>
                            <li>Get one Platinum Listing on Magicbricks.com.</li>
                            <li>Increase responses by 2 times.</li>
                            <li>2 days preferential visibility and Auto Refresh on every 30th day.</li>
                            <li>Free Property Photo-shoot* and Property verification* service is applicable on all Ready-to-move Residential Properties &
                                specific Commercial Properties like Office Spaces, Showroom, Shop, Office in IT Park/SEZ & Co-working Space.</li>
                            <li>*Property Photoshoot service is available in select cities only- Delhi NCR, Mumbai, Navi Mumbai, Thane, Pune, Bangalore,
                                Hyderabad, Chennai, Kolkata, & Ahmedabad.
                          </li>
                            <li>*For preventive measures we follow No-Touch Verification.</li>
                        </ul>
                    </div>
                    <div class="totle-price">
                        <div class="totle-text">
                            <h3>Total Amount Payable</h3>
                        </div>
                        <div class="totle-rupees">
                            <p class="main-price">₹ 2799</p>
                        </div>
                    </div>
                </div>
                <div class="add-myorder">
                    <a href="#">ADD TO MY ORDERS</a>
                </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="right-gold-box">
                    <div class="border-box">
                        <div class="get-card-box">
                            <div class="order-title">
                                <p>MY ORDERS (1)</p>
                            </div>
                            <div class="get-card-btn">
                                <a href="#"><span class="me-2"><i class="fa fa-sharp fa-light fa-cart-shopping" style="color: #ffffff;"></i></span>GO TO CART</a>
                            </div>
                        </div>
                    </div>
                    <div class="gold-form">
                        <div class="experts-talk">
                            <p>Talk To Experts | <span><a routerLink="tell:91 1234 597 890">+91 1234 597 890</a></span></p>
                        </div>
                        <div class="form-area">
                            <h4>Request a Callback</h4>
                            <form action="">
                                <input type="text" id="fname" name="fname" placeholder="Name" class="gold-form-input"required><br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select name="number-code" id="number-code" class="gold-form-input">
                                            <option value="Ind +91">Ind +91</option>
                                            <option value="USA: +1">USA: +1</option>
                                            <option value="UK: +44">UK: +44</option>
                                            <option value="Mexico: +52">Mexico: +52</option>
                                            <option value="China: +86">China: +86</option>
                                          </select>
                                    </div>
                                    <div class="col-md-8">
                                     <input type="number" id="goldNum" name="goldNum" placeholder="Number" class="gold-form-input"required><br>
                                    </div>
                                </div>
                                <input type="maill" id="goldNum" name="goldmail" placeholder="Email" class="gold-form-input"required><br>
                                <select name="City" id="City" class="gold-form-input">
                                    <option value="" disabled selected hidden>City</option>
                                    <option value="India">India</option>
                                    <option value="UK">UK</option>
                                    <option value="Mexico">Mexico</option>
                                    <option value="China">China</option>
                                  </select>
                                <p class="get-callback">Enter your query. Please specify the convenient time to
                                    get a callback.</p>
                                <div class="get-callback-btn">
                                    <a href="#">GET A CALL BACK</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="information-front">
    <div class="container">
      <h6 class="info-head">The information provided herein have been collected from publicly available sources, and is yet to be verified as per RERA guidelines.*</h6>
      <div class="more-points">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 class="info-title">REAL ESTATE</h6>
            <p class="info-locator">Gujarat Real Estate  |  Ahmedabad Real Estate  |  Surat Real Estate  |  Baroda Real Estate  |  Rajkot Real Estate</p>

            <h6 class="info-title">BUY PROPERTY</h6>
            <p class="info-locator">Buy Property in Guajrat  |  Buy Property in Ahmedabad  |  Buy Property in Surat  |  Buy Property in Baroda  |  Buy Property in Rajkot</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 class="info-title">COWORKING SPACE</h6>
            <p class="info-locator">Office space in Gujarat  |  Office space in Ahmedabad  |  Office space in Surat  |  Office space in Baroda  |  Office space in Rajkot</p>

            <h6 class="info-title">PROPERTIES FOR RENT</h6>
            <p class="info-locator">Rent Property in Guajrat  |  Rent Property in Ahmedabad  |  Rent Property in Surat  |  Rent Property in Baroda  |  Rent Property in Rajkot</p>
          </div>
        </div>
      </div>
    </div>
    <div class="info-bottom">
      <div class="container">
        <p class="info-pera">RealtyMart is India's premium real estate portal where users can find Independent Houses / Villas, Apartments/Flats and Plots for sale and rent in 4 cities across Guajrat, India. RealtyMart helps the property seeker to find Resale properties, Residential Projects and Owner properties in Ahmedabad, Baroda, Surat and Rajkot. RealtyMart provides complete details of Project launches, under construction projects and ready-to-move projects with detailed description of locality, builder, price trends and features.</p>
      </div>
    </div>
</section> -->
</main>
