<main>
<section class="Your-cart position-relative">
    <div class="container">
        <div class="banner-small">
            <h1 class="banner_title">Your Cart</h1>
            <p class="banner_small">(1 Items)</p>
        </div>
    </div>
</section>
<section class="cart-sections">
    <div class="container">
        <div class="cart-box">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="purchased-box">
                        <div class="head-gold">
                            <div class="gold-titles">
                                <h3>GOLD</h3>
                                <p class="purchased"><span><img src="../../../assets/images/star.png" alt=""></span>4.0   |   461 Purchased</p>
                            </div>
                            <div class="price-titles">
                                <p class="main-price">₹ 2799</p>
                            </div>
                        </div>
                        <div class="bulate-gold">
                            <ul>
                                <li>Higher position in search for 8 days</li>
                                <li>90 days Validity</li>
                                <li>Professional Photoshoot of Property</li>
                                <li>Number of Listings: 1</li>
                                <li>Online Site Visit Scheduler</li>
                                <li>Mobile no. of all responses</li>
                                <li>Verified tag on Property</li>
                            </ul>
                        </div>
                    </div>
                    <div class="check-compare">
                        <input type="checkbox" id="assisted" name="assisted" value="assisted" class="mycheck">
                        <label for="assisted" class="compares">If you have been assisted by a RealtyMart sales representative on this transaction</label><br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="gold-payments">
                        <p class="coupon-app">HAVING COUPON CODE? <span><a href="#">CLICK HERE</a></span></p>
                    </div>
                    <div class="yourpayment-box">
                        <p class="sub-price-item">Sub-Total <span class="prices">₹ 2799</span></p>
                        <p class="sub-price-item">Discount <span class="prices text-success">- ₹ 0</span></p>
                        <p class="sub-price-item">Gross Total <span class="prices">₹2799</span></p>
                        <p class="sub-price-item">GST(Incl.) <span class="prices">₹426</span></p>
                        <hr>
                        <p class="sub-price-item fw-bold">Total Amount <span class="prices" style="color: #E63525;">₹2799</span></p>

                        <div class="procees-payment">
                            <a href="#">PROCEED TO PAYMENT</a>
                        </div>
                        <div class="shopping">
                            <a href="#">CONTINUE SHOPPING</a>
                        </div>
                    </div>
                    <p class="support-text">WE SUPPORT SECURE PAYMENT METHODS</p>
                    <div class="cart-support">
                       <a routerLink=""><img src="../../../assets/images/virifiedvisa.png" alt="virifiedvisa" class="img-fluid support-img"></a>
                       <a routerLink=""><img src="../../../assets/images/master-cart.png" alt="master-cart" class="img-fluid support-img"></a>
                       <a routerLink=""><img src="../../../assets/images/Maestro_logo.png" alt="Maestro_logo" class="img-fluid support-img"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
