<main>
<section class="ad-package-bg position-relative">
    <div class="container">
        <div class="banner-small">
            <h1 class="banner_title">Ad Packges</h1>
            <p class="banner_small">If you are a free owner your property is visible to ONLY 19% buyers. <br>
                Increase this to upto 97% and check out other exclusive offerings to help you finalise the deal Followed by general grid for plans</p>
        </div>
    </div>
</section>
<section class="some-packages">
    <div class="container">
        <div class="border-visibility-box">
            <div class="visibility">
                <div class="visibility-box">
                    <p><span class="fw-bold">19% </span><br> Visibility</p>
                </div>
                <p class="buyers-title">You're Missing Out on Responses since your Property is Visible to 19% Buyers ONLY</p>
            </div>
        </div>
        <div class="responses">
            <h2>UPGRADE TO PREMIUM & GET MORE RESPONSES</h2>
            <div class="functionalitys">
                <p><span><img src="../../../assets/images/right.png" alt=""></span>Get Upto 7X Responses</p>
                <p><span><img src="../../../assets/images/right.png" alt=""></span>Rank higher in Property Search</p>
                <p><span><img src="../../../assets/images/right.png" alt=""></span>Sell your Property Faster</p>
            </div>
        </div>
        <div class="all-packages">
            <div class="package-box">
                <div class="package-up-box">
                    <h3>GOLD</h3>
                    <p class="purchased-review"><span><img src="../../../assets/images/star.png" alt=""></span>4.0   |   461 Purchased</p>
                    <div class="purchased-off">
                        <p class="gold-off"> 50% Off</p>
                        <p class="main-price"><del class="del-text">` 5198</del><br>₹ 2799</p>
                    </div>
                </div>
                <div class="functionality-box">
                    <div class="bullet-functionalitys">
                        <div class="buy-now">
                            <a href="#">Buy Now</a>
                        </div>
                        <p class="visible-buyers">Visible to <span class="persentages" style="background-color:#FFEADA;">75%</span> of buyers</p>
                    </div>
                    <div class="bullet-points">
                        <ul>
                            <li class="fw-bold">90 days Validity</li>
                            <li>Number of Listings: 1</li>
                            <li>Mobile no. of all responses</li>
                            <li>Higher position in search for 4 days</li>
                            <li>Online Site Visit Scheduler</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="package-box">
                <div class="package-up-box">
                    <h3>SILVER</h3>
                    <p class="purchased-review"><span><img src="../../../assets/images/star.png" alt=""></span>4.0   |   461 Purchased</p>
                    <div class="purchased-off">
                        <p class="gold-off"> 50% Off</p>
                        <p class="main-price"><del class="del-text">` 5198</del><br>₹ 2799</p>
                    </div>
                </div>
                <div class="functionality-box">
                    <div class="bullet-functionalitys">
                        <div class="buy-now">
                            <a href="#">Buy Now</a>
                        </div>
                        <p class="visible-buyers">Visible to <span class="persentages" style="background-color:#C9EAFF;">90%</span> of buyers</p>
                    </div>
                    <div class="bullet-points">
                        <ul>
                            <li class="fw-bold">90 days Validity</li>
                            <li>Number of Listings: 1</li>
                            <li>Mobile no. of all responses</li>
                            <li>Higher position in search for 8 days</li>
                            <li>Professional Photoshoot of Property</li>
                            <li>Verified tag on Property</li>
                            <li>Online Site Visit Scheduler</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="package-box">
                <div class="package-up-box">
                    <h3>DIAMOND</h3>
                    <p class="purchased-review"><span><img src="../../../assets/images/star.png" alt=""></span>4.0   |   461 Purchased</p>
                    <div class="purchased-off">
                        <p class="gold-off"> 50% Off</p>
                        <p class="main-price"><del class="del-text">` 5198</del><br>₹ 2799</p>
                    </div>
                </div>
                <div class="functionality-box">
                    <div class="bullet-functionalitys">
                        <div class="buy-now">
                            <a href="#">Buy Now</a>
                        </div>
                        <p class="visible-buyers">Visible to <span class="persentages" style="background-color:#C5F0C0;">92%</span> of buyers</p>
                    </div>
                    <div class="bullet-points">
                        <ul>
                            <li class="fw-bold">90 days Validity</li>
                            <li>Number of Listings: 1</li>
                            <li>Mobile no. of all responses</li>
                            <li>Higher position in search for 10 days</li>
                            <li class="fw-bold">2 Open houses with Video tour</li>
                            <li>Professional Photoshoot of Property</li>
                            <li>Verified tag on Property</li>
                            <li>Property Description by Experts</li>
                            <li>500 Email Promotions</li>
                            <li>Get ready list of buyers 100 CREDIT</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-city mb-5">
            <ul>
                <li>*Property Photoshoot service is available in select cities only- Delhi NCR, Mumbai, Navi Mumbai, Thane, Pune, Bangalore, Hyderabad, Chennai, Kolkata, & Ahmedabad.</li>
                <li>*Property Photoshoot service is applicable on all Ready-to-move Residential Properties & specific Commercial Properties like Office Spaces, Showroom, Shop, Office in IT Park/SEZ & Co-working Space</li>
                <li><span class="text-danger">**</span>A Video Tour will start once a Buyer joins | Duration: 60 min | One tour can have upto 5 Buyers</li>
            </ul>
        </div>
    </div>
</section>

<!-- <section class="information-front">
    <div class="container">
      <h6 class="info-head">The information provided herein have been collected from publicly available sources, and is yet to be verified as per RERA guidelines.*</h6>
      <div class="more-points">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 class="info-title">REAL ESTATE</h6>
            <p class="info-locator">Gujarat Real Estate  |  Ahmedabad Real Estate  |  Surat Real Estate  |  Baroda Real Estate  |  Rajkot Real Estate</p>

            <h6 class="info-title">BUY PROPERTY</h6>
            <p class="info-locator">Buy Property in Guajrat  |  Buy Property in Ahmedabad  |  Buy Property in Surat  |  Buy Property in Baroda  |  Buy Property in Rajkot</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 class="info-title">COWORKING SPACE</h6>
            <p class="info-locator">Office space in Gujarat  |  Office space in Ahmedabad  |  Office space in Surat  |  Office space in Baroda  |  Office space in Rajkot</p>

            <h6 class="info-title">PROPERTIES FOR RENT</h6>
            <p class="info-locator">Rent Property in Guajrat  |  Rent Property in Ahmedabad  |  Rent Property in Surat  |  Rent Property in Baroda  |  Rent Property in Rajkot</p>
          </div>
        </div>
      </div>
    </div>
    <div class="info-bottom">
      <div class="container">
        <p class="info-pera"> is India's premium real estate portal where users can find Independent Houses / Villas, Apartments/Flats and Plots for sale and rent in 4 cities across Guajrat, India.  helps the property seeker to find Resale properties, Residential Projects and Owner properties in Ahmedabad, Baroda, Surat and Rajkot.  provides complete details of Project launches, under construction projects and ready-to-move projects with detailed description of locality, builder, price trends and features.</p>
      </div>
    </div>
</section> -->
</main>
