<main>
    <section class="reserch_bg position-relative">
        <div class="container">
            <div class="banner-small">
                <h1 class="banner_title">Research Insights
                </h1>
                <p class="banner_small">Get the latest reports and updates on
                    Real Estate
                </p>
            </div>
        </div>
    </section>
    <section class="featuredBx">
        <div class="container">
            <div class="row ftdbox">
                <div class="col-lg-6">
                    <img src="../../../assets/images/reserch_mg.jpg" alt="" class="img-fluid rounded">
                </div>
                <div class="col-lg-6">
                    <h3 class="groups-companies-names">How India Searched For Homes in 2023</h3>
                    <p class="rsh_pera">The Indian housing market continued its growth trajectory in 2023. Mumbai Metropolitan Region (MMR)(20%), National Capital Region (NCR)(19%) and Bengaluru(19%) emerged as the top cities in terms of searches, with MMR leading the group. To know more, download the report.</p>
                </div>
            </div>
        </div>
    </section>
</main>