<main>
    <section class="buy-projects position-relative">
        <div class="container">
            <div class="banner-small">
                <h1 class="banner_title">Title Check</h1>
                <!-- <p class="banner_small">Property Value</p> -->
            </div>
        </div>
    </section>
    <section class="ccl_value">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="legal_value">All about title-checking <br> <span class="fw-bold">Planning to buy your dream home?</span> <br>Get personal advice from a legal attorney before buying a home</p>
                    <a class="value_btn" routerLink>Verify Property Documents</a>

                    <div class="value_slider">
                        <ngx-slick-carousel
                        class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig1">
                        <div ngxSlickItem class="slide">
                            <div class="value_slid_box">
                                <p class="value_banefit">For Residential</p>
                                <ul class="value_slid_point">
                                    <li>Get the legal NOC, transfer is illegal without this</li>
                                    <li>Check errors in the chain of titles, errors in public records & more</li>
                                </ul>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="value_slid_box">
                                <p class="value_banefit">For Plot</p>
                                <ul class="value_slid_point">
                                    <li>Legal checks can protect you against fraud</li>
                                    <li>Verify the land use, nature and land and legal standing of the owner</li>
                                </ul>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="value_slid_box">
                                <p class="value_banefit">Benefits for buyers</p>
                                <ul class="value_slid_point">
                                    <li>Legal checks can protect you against fraud</li>
                                    <li>Verify the land use, nature and land and legal standing of the owner</li>
                                </ul>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide">
                            <div class="value_slid_box">
                                <p class="value_banefit">Benefits for buyers</p>
                                <ul class="value_slid_point">
                                    <li>Legal checks can protect you against fraud</li>
                                    <li>Verify the land use, nature and land and legal standing of the owner</li>
                                </ul>
                            </div>
                        </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="value_img">
                        <img src="../../../assets/images/value-img.jpg"
                            alt="value" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="what_valuer add_pdb">
        <div class="container">
            <h2 class="valuation_title add_pd text-center">Let’s make your property-buying journey tension-free</h2>
            <p class="valuation_pera text-center">Our Property Title Verification Service Guarantees Legal Clarity:
                By availing our property title check service, you can rest assured that your property remains untangled from any legal disputes and is safeguarded against any potential fraudulent activities.</p>
            <div class="buyers_Benefits">
                <h3>Benefits for buyers</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <ul class="benefits">
                            <li>Comprehensive Legal Support for Title Verification, Litigation, and Government Approvals</li>
                            <li>Access Property Lawyers and Home Loan Assistance under one roof</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <ul class="benefits">
                            <li>Safeguard against counterfeit and deceptive documents</li>
                            <li>A dedicated Attorney to navigate and resolve all your legal inquiries</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="correct_valuation">
        <div class="container">
            <h2 class="valuation_title text-center">When is the right time for a property legal title check?</h2>
            <div class="round_area">
                <div class="round_bg_title">
                    <img src="../../../assets/images/Finalization.png" alt="">
                </div>
                <div class="round_bg_title">
                    <img src="../../../assets/images/documents.png" alt="">
                </div>
                <div class="round_bg_title">
                    <img src="../../../assets/images/home-loan-round.png" alt="">
                </div>
                <div class="round_bg_title">
                    <img src="../../../assets/images/Moving.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="correct_valuation">
        <div class="container">
            <h2 class="valuation_title text-center">Secure your investment from any legal issue</h2>
            <p class="valuation_pera text-center">Get the most accurate estimate for your properties for any project, society, or locality</p>
            <div class="bg_value">
                <img src="../../../assets/images/investment.jpg" alt="" class="back_mg img-fluid">
                <ul class="correct_pont">
                    <li><img src="../../../assets/images/right_mg.jpg" alt="">Title check</li>
                    <li><img src="../../../assets/images/right_mg.jpg" alt="">Government approved check</li>
                    <li><img src="../../../assets/images/right_mg.jpg" alt="">Encumbrance check</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="what_valuer">
        <div class="container">
            <h2 class="valuation_title add_pd text-center">Everything you need to know about title check</h2>
            <div class="things_area more_pd_add">
                <div class="things_box">
                    <h3>What is a legal title check?</h3>
                    <p>A legal title check is a thorough examination conducted to validate property ownership and ensure that the property is unencumbered by any legal encumbrances or obligations.</p>
                </div>
                <div class="things_box">
                    <h3>What is the role of a legal expert?</h3>
                    <p>A seasoned legal professional conducts a comprehensive investigation into the property, collating a wealth of information. Their responsibilities encompass scrutinizing and confirming property titles, delving into real estate records, and compiling detailed records of mortgages, contracts, and other pertinent documents. This meticulous process guarantees that the property in question remains unburdened by any legal encumbrances.</p>
                </div>
                <div class="things_box">
                    <h3>When you should opt for a legal title
                        search?</h3>
                    <p>Prior to the purchase of a residential or commercial property, the significance of performing a title search cannot be overstated. It is a pivotal step to confirm that the property stands devoid of any legal disputes and possesses an unblemished title, devoid of any claims, liens, or potential issues that might lead to complications if left unchecked.</p>
                </div>
                <div class="things_box">
                    <h3>What information is covered in the legal
                        title check report?</h3>
                    <p>A comprehensive legal title check report unveils a wealth of information pertaining to property taxes, potential deed documentation discrepancies, any lingering ownership disputes, and the legal authority of the current owner to transfer the property.</p>
                </div>
                <div class="things_box">
                    <h3>What is the process of title check and
                        how long does it take?</h3>
                    <p>A professional legal title check, administered by a legal specialist, involves a comprehensive review of historical records and the present status of the property. It encompasses confirming whether any mortgages or claims are associated with the property. Additionally, it ensures that the current seller possesses the unencumbered authority to transfer the property. This meticulous process typically spans a timeframe of 7 to 10 days.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="correct_valuation">
        <div class="container">
            <h2 class="valuation_title text-center">How does the process work?</h2>
            <div class="round_area line_added">
                <div class="process_work">
                    <h6>Step1</h6>
                    <div class="work_areas">
                        <img src="../../../assets/images/Connecting.png" alt="Connecting">
                    </div>
                    <p>Connecting to legal experts</p>
                </div>
                <div class="process_work">
                    <h6>Step2</h6>
                    <div class="work_areas">
                        <img src="../../../assets/images/Submission.png" alt="Submission">
                    </div>
                    <p>Submission of documents</p>
                </div>
                <div class="process_work">
                    <h6>Step3</h6>
                    <div class="work_areas">
                        <img src="../../../assets/images/Validation.png" alt="Validation">
                    </div>
                    <p>Validation of documents</p>
                </div>
                <div class="process_work">
                    <h6>Step4</h6>
                    <div class="work_areas">
                        <img src="../../../assets/images/Report.png" alt="Report">
                    </div>
                    <p>Report submission to you</p>
                </div>
            </div>
        </div>
    </section>
    <section class="correct_valuation">
        <div class="container">
            <h2 class="valuation_title text-center">FAQ</h2>
            <div class="faq_section">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h3 class="accordion_title">How to calculate the value of the property?</h3>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Precision in property valuation demands a skilled touch. When it comes to determining the true worth of your property, enlist the assistance of property valuation professionals. These experts possess a wealth of knowledge regarding the dynamic property market, enabling them to provide you with a precise and well-informed assessment.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h3 class="accordion_title">What is the fair market value of the property?</h3>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h3 class="accordion_title">Services included in the home valuation process</h3>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              <h3 class="accordion_title">Types of property valuation methods</h3>
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              <h3 class="accordion_title">Documents required for property valuation</h3>
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </section>
</main>
