<section class="information-front">
    <div class="container">
        <h6 class="info-head">The information provided herein has been
            collected from publicly available sources, and
            is yet to be verified as per RERA guidelines.*</h6>
        <div class="more-points">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h6 class="info-title">PROJECTS</h6>
                    <p class="info-locator"><a target="_blank" routerLink="/projects-in-city/ahmedabad">Projects in Ahmedabad</a> | <a target="_blank" routerLink="/projects-in-city/gandhinagar">Projects in Gandhinagar</a> | <a target="_blank" routerLink="/projects-in-city/surat">Projects in Surat</a> | <a target="_blank" routerLink="/projects-in-city/vadodara">Projects in Vadodara</a> | <a target="_blank" routerLink="/projects-in-city/rajkot">Projects in Rajkot</a></p>
                    <h6 class="info-title">BUY PROPERTY</h6>
                    <p class="info-locator"><a target="_blank" routerLink="/property-for-buy-in/ahmedabad">Buy Property in Ahmedabad</a> | <a target="_blank" routerLink="/property-for-buy-in/gandhinagar">Buy
                        Property in Gandhinagar</a> | <a target="_blank" routerLink="/property-for-buy-in/surat">Buy Property in Surat</a>
                        | <a target="_blank" routerLink="/property-for-buy-in/vadodara">Buy Property in Vadodara</a> | <a target="_blank" routerLink="/property-for-buy-in/rajkot">Buy Property in Rajkot</a></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h6 class="info-title">COWORKING SPACE</h6>
                    <p class="info-locator"><a target="_blank" routerLink="/property-for-buy/office-space/ahmedabad">Office space in Ahmedabad</a> | <a target="_blank" routerLink="/property-for-buy/office-space/gandhinagar">Office
                        space in Gandhinagar</a> | <a target="_blank" routerLink="/property-for-buy/office-space/surat">Office space in Surat</a>
                        | <a target="_blank" routerLink="/property-for-buy/office-space/vadodara">Office space in Vadodara</a> | <a target="_blank" routerLink="/property-for-buy/office-space/rajkot">Office space in Rajkot</a></p>

                    <h6 class="info-title">PROPERTIES FOR RENT</h6>
                    <p class="info-locator"><a target="_blank" routerLink="/property-for-rent-in/ahmedabad">Rent Property in Ahmedabad</a> | <a target="_blank" routerLink="/property-for-rent-in/gandhinagar">Rent
                        Property in Gandhinagar</a> | <a target="_blank" routerLink="/property-for-rent-in/surat">Rent Property in
                            Surat</a> | <a target="_blank" routerLink="/property-for-rent-in/vadodara">Rent Property in Vadodara</a> | <a target="_blank" routerLink="/property-for-rent-in/rajkot">Rent Property in
                                Rajkot</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="info-bottom">
        <div class="container">
            <p class="info-pera">RealtyMart is India's premium real
                estate portal where users can find
                Independent Houses/Villas, Apartments/Flats and Plots for sale
                and rent in 15 cities across Guajrat,
                India. RealtyMart helps the property seeker to find
                Resale properties, Residential Projects and
                Owner properties in Ahmedabad, Vadodara, Surat and Rajkot.
                RealtyMart provides complete details of
                Project launches, under construction projects and ready-to-move
                projects with detailed description of
                locality, builder, price trends and features.</p>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer_items">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <img src="../assets/images/footer-logo.svg"
                        alt="footer-logo" class="img-fluid ft_logo">
                    <h4 class="footer-title mt-4">ABOUT RealtyMart</h4>
                    <p class="footer-pera">Welcome to RealtyMart, your
                        ultimate destination for comprehensive and
                        unparalleled real estate solutions. With a passion for
                        excellence and a commitment to
                        innovation, we stand as your trusted partner, catering
                        to all your real estate needs under one
                        roof. Whether you're a seasoned investor, a first-time
                        homebuyer, or a property enthusiast,
                        we're here to guide you through every step of your real
                        estate journey.</p>
                    <p class="footer-pera">We also provide end to end marketing,
                        technology and digital solutions to
                        Builders, Developers, Brokers and Other Real Estate
                        Service Providers.</p>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="right-bottom-footer mt-4">
                        <div class="row">
                            <div class="col-lg-7 col-md-12 col-sm-12 line-right">
                                <h4 class="footer-title">OTHER LINKS</h4>
                                <div class="all-items">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="footer-links">
                                                <li><a target="_blank" routerLink="../about-us">About
                                                        Us</a></li>
                                                <li><a target="_blank" routerLink="../career">Career</a></li>
                                                <li><a target="_blank" routerLink="/blog">Blog</a></li>
                                                <!-- <li><a href="#">News</a></li> -->
                                                <li><a target="_blank" routerLink="../contact">Contact
                                                    </a></li>
                                            </ul>
                                        </div>
                                        <!-- <div class="col-md-4">
                                            <ul class="footer-links">
                                                 <li><a href="#">Tools</a></li>
                                                <li><a href="#">Help</a></li> 
                                               
                                                
                                            </ul>
                                        </div> -->
                                        <div class="col-md-5">
                                            <ul class="footer-links">
                                                <li><a href="#">Cancellation/Refund</a></li>
                                                <li><a target="_blank" routerLink="../terms-conditions">Terms & Conditions</a></li>
                                                <li><a target="_blank" routerLink="../privacy-policy">Privacy Policy</a></li>
                                                <!-- <li><a href="#">Download Mobile App</a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12 col-sm-12">
                                <h4 class="footer-title">SERVICES</h4>
                                <div class="all-items">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="footer-links">
                                                <li><a target="_blank" routerLink="/property-for-buy-in/{{ city }}">Buy</a></li>
                                                <li><a target="_blank" routerLink="/post-property-free">Sell</a></li>
                                                <li><a target="_blank" routerLink="/property-for-rent-in/{{ city }}">Rent</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="footer-links">
                                                <!-- <li><a href="#">Hostels</a></li> -->
                                                <li><a target="_blank" routerLink="/property-for-buy/farm-house/{{ city }}">Farm House</a></li>
                                                <li><a target="_blank" routerLink="/property-for-buy/plot/{{ city }}">Plots</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-top-footer">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <h4 class="footer-title mt-3">KEEP IN TOUCH</h4>
                                <div class="social-media">
                                    <a href="https://www.facebook.com/realtymartcom"><img
                                            src="../assets/images/facebook.png"
                                            alt="facebook"></a>
                                    <!-- <a href="#"><img
                                            src="../assets/images/twitter.png"
                                            alt="facebook"></a> -->
                                    <a href="https://www.instagram.com/realtymart.official/"><img
                                            src="../assets/images/insta.png"
                                            alt="instagram"></a>
                                    <a href="https://www.linkedin.com/company/realtymart-com"><img
                                            src="../assets/images/linkedin.png"
                                            alt="linkeding"></a>
                                    <!-- <a href="#"><img
                                            src="../assets/images/youtube.png"
                                            alt="youtube"></a> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <!-- <div class="download-part">
                                    <h4 class="footer-title">DOWNLOAD APP</h4>
                                <div class="available">
                                    <a href="#"><img src="../assets/images/playstore.png" alt="Play Store"></a>
                                    <a href="#"><img src="../assets/images/playstore.png" alt="App Store"></a>
                                </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<!-- contact owner popup  -->

<!-- <div class="modal fade" id="contect-owner" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div
        class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header sign-in-box">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="fill_one">Fill out this one - time contact form</h2>
                <p class="detail_share">We will share advertiser's details over
                    email</p>
                <div class="contact-form__prjInfo prj-top-info">
                    <div
                        class="contact-form__prjInfo__fig"><img
                            src="https://realtymart.com/backend/public/images/property_main_img/170235864764ad53752d094.png"
                            class="contact-form__prjInfo__fig--graphic">
                    </div>
                    <div class="contact-form__prjInfo__name">Loyal
                        OliveResidency</div>
                    <div class="contact-form__prjInfo__loc">
                        Chandkheda, Ahmedabad
                    </div>
                    <div class="contact-form__prjInfo__content">
                        <div class="contact-form__prjInfo__bhk">2 BHK Flats</div>
                        <div class="contact-form__prjInfo__price"><span> ₹ 47.2
                                Lac</span> onwards
                        </div>
                    </div>
                </div>
                <form>
                    <input type="text" id="Aname" ngmodel name="name"
                        placeholder="Name" required class="gold-form-input">
                    <input type="email" id="Aname" ngmodel name="name"
                        placeholder="Email" required class="gold-form-input">
                    <div
                        class="pp-form__field pp-form__field--mobile">
                        <div
                            class="gold-form-input mb-0">
                            <select name="isd" id="ownerISD">
                                <option value="50"
                                    selected="selected">IND +91</option>
                                <option value="269">YUG +381</option>
                                <option value="59">ZAF +27</option>
                                <option value="271">ZWE +263</option>
                            </select>

                        </div>

                        <input type="number" id="Aname" ngmodel name="name"
                            placeholder="Mobile No." required
                            class="gold-form-input mb-0">
                    </div>
                    <div class="check-compare"><input type="checkbox"
                        id="compare" name="compare" value="compare add"
                        class="mycheck"><label for="compare"
                        class="compares">I Agree to realtymart Terms of Use
                        <span><a routerLink="../terms-conditions">Terms of Use</a></span></label><br>
                </div>
                <button  class="pp-form__cta">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div> -->
