<main>
      <!-- <section class="Interior-desing position-relative">
        <div>
          <img src={{singleproperty.bannerImage}} width="100%">
        </div>
        <div class="container">
            <div class="banner-small service_banner">
                <div *ngIf="singleproperty && singleproperty.propertyServiceName;">
                    <h1 class="banner_title">{{ singleproperty?.propertyServiceName }}</h1>
                  </div>
                <p class="banner_small">In {{ city }}</p>
              </div>
        </div>
    </section> -->
    <!-- <input type="text" [(ngModel)]="searchText" (input)="filterItems()" placeholder="Search items"> -->

    <section class="all-interior">
        <div class="container">
            <div class="interior-box">
                <div>
                <div class="interior-inner-items" *ngFor="let company_list of singleproperty.companyListing">
                    <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-12 d-flex align-items-center">
                            <img src="{{ company_list.company_logo }}" alt="" class="img-fluid">
                        </div>

                        <div class="col-lg-8 col-md-6 col-sm-12">
                            <a class="interior-head" target="_blank" routerLink="/company-detail/{{ company_list.prpserviceurl1 }}/{{company_list.prpserviceurl2}}">{{ company_list.company_name }}</a>
                            <p class="interior-location"><span class="me-2"><i class="fa fa-sharp fa-light fa-location-dot" style="color: #bbbbbb;"></i></span>{{ company_list.company_address }}</p>
                            <p class="interior-institutes" [innerHTML]="company_list.services"><span class="me-3"><i class="fa-regular fa-bookmark" style="color: #bbbbbb;"></i></span></p>
                            <div class="enquire-mood position-relative">
                            </div>
                            <p class="google-rating" *ngIf="googleRatings[company_list.company_name]">
                              <i class="fa fa-star text-warning"></i>
                              {{ googleRatings[company_list.company_name] }} / 5
                            </p>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12 border-add d-flex align-items-center justify-content-center">
                            <div class="owner-cc">
                                <a class="contact-buy-btn" href="#"data-bs-toggle="modal" data-bs-target="#interior-enquire" (click)="setUserId(company_list.user_id,company_list.id,company_list.companyId)">ENQUIRE NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="singleproperty?.companyListing?.length < 0" style="text-align: center;">
                <span style="font-size: larger;font-weight: 800;">Data Not Found!</span>
            </div>
            </div>
        </div>
    </section>

</main>
<!-- Enquire popup -->
<div class="modal fade" id="interior-enquire" tabindex="-1" aria-labelledby="interior-enquireLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header interior-enq-head">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body enquire-body">
          <h2>Plan Your Dream Project with the Right {{ singleproperty?.propertyServiceName }}</h2>
          <p>Share your requirements and receive top suggestions</p>

          <div class="fill-enquire">
            <form (submit)="is_token ? submitForm() : openOTPModal()">
              <div class="mt-3">
                <input
                  type="text"
                  id="Aname"
                  [(ngModel)]="formData.username"
                  [disabled]="is_token"
                  name="username"
                  placeholder="Enter your full name"
                  (input)="validateName($event)"
                  (keypress)="validateCharInput($event)"
                  required
                  class="gold-form-input my-0"
                />
                <div *ngIf="usernameError" class="mgs_error">
                  Please enter name.
                </div>
              </div>
              <div class="mt-3">
                <input
                  type="mail"
                  id="useremail"
                  [(ngModel)]="formData.useremail"
                  (blur)="validateEmail($event)"
                  name="useremail"
                  [disabled]="is_token"
                  placeholder="Enter your email address"
                  required
                  class="gold-form-input my-0"
                />
                <div *ngIf="useremailError" class="mgs_error">
                  Please enter a valid email address.
                </div>
              </div>

              <div class="mt-3">
                <div class="row">
                  <div class="d-flex">
                    <input
                      type="tel"
                      [(ngModel)]="formData.contact_no"
                      id="goldNum"
                      name="contact_no"
                      maxlength="10"
                      placeholder="Enter mobile number for OTP"
                      required
                      [disabled]="is_token"
                      pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                      (keypress)="validateNumberInput($event)"
                      (blur)="validatePhoneNumber($event)"
                      maxlength="10"
                      class="gold-form-input my-0"
                    />
                    <!-- <span
                      class="verify-label"
                      (click)="openOTPModal()"
                      *ngIf="formData.contact_no?.length === 10 && !contact_noError"
                      style="
                        cursor: pointer;
                        color: #ff5444;
                        font-weight: bold;
                        margin-left: 10px;
                      "
                    >
                    Verified
                    </span> -->
                  </div>
                  <div *ngIf="contact_noError" class="mgs_error">
                    Please enter valid number.
                  </div>
                </div>
              </div>
              <br/>
              <!-- <input type="text" id="iname" name="username" placeholder="Name*" class="gold-form-input" [(ngModel)]="formData.username" required><br>
              <input type="email" id="email" name="useremail" placeholder="Your Email ID*" class="gold-form-input" [(ngModel)]="formData.useremail" required><br>
              <input type="number" id="mobile" name="contact_no" placeholder="Your Mobile Number*" class="gold-form-input" [(ngModel)]="formData.contact_no" required><br> -->
              <input class="sub_phone enquire-submit" [disabled]="useremailError" type="submit" [value]="is_token ? 'Submit' :'Send Enquiry' ">
            </form>
          </div>

          <ul class="enq-bullet">
            <li>Your requirement is sent to the selected relevant businesses/ service providers</li>
            <li>You choose whichever suits you best</li>
            <li>Contact info sent to you by SMS/Email</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
  #otpModel
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-bs-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Verify Your Mobile Number</h5>
        <button
          type="button"
          class="btn-close position-absolute top-0 end-0 mt-3 me-3"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          You will receive a 4-digit verification code on your registered mobile
          number.
        </div>
        <input
          type="text"
          id="otpInput"
          name="otpInput"
          placeholder="Enter OTP"
          [(ngModel)]="formData.otp"
          (keypress)="validateNumberInput($event)"
          maxlength="4"
          style="border-color: #00000029"
        />

        <div *ngIf="otpError" class="mgs_error">Please enter a valid OTP.</div>
      </div>
      <div class="modal-footer border-0 flex-column text-center">
        <button type="button" class="btn reg_sub" (click)="verifyOTP()">
          Verify
        </button>
        <div>
          <label
            *ngIf="!isResendEnabled"
            class="resend-label mb-3"
            style="cursor: pointer"
          >
            You will receive OTP within
            <b style="color: #ff5444"> 00:{{ remainingTime }}</b>
            seconds
          </label>
          <div class="mb-3" *ngIf="isResendEnabled">
            Did not get Verification OTP ?
          </div>
          <span
            *ngIf="isResendEnabled"
            style="cursor: pointer; border-bottom: 1px solid grey"
            (click)="resendOTP()"
            >Resend OTP</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
