<main>
<section class="profile position-relative">
    <div class="container">
        <div class="banner-small">
            <h1 class="banner_title"></h1>
            <p class="banner_small"></p>
        </div>
    </div>
</section>
<section class="our-profiles">
    <div class="container">
        <div class="profile-tab-section">
            <ul class="myprofile nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="profile-link " id="pills-account-tab" data-bs-toggle="pill" data-bs-target="#pills-account" type="button" role="tab" aria-controls="pills-account" aria-selected="true">ACCOUNT SUMMARY</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="profile-link" id="pills-responses-tab" data-bs-toggle="pill" data-bs-target="#pills-responses" type="button" role="tab" aria-controls="pills-responses" aria-selected="false">CONTACTS/RESPONSES</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="profile-link" id="pills-myproperties-tab" data-bs-toggle="pill" data-bs-target="#pills-myproperties" type="button" role="tab" aria-controls="pills-myproperties" aria-selected="false">PROPERTIES</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="profile-link" id="pills-alerts-tab" data-bs-toggle="pill" data-bs-target="#pills-alerts" type="button" role="tab" aria-controls="pills-alerts" aria-selected="false">PROPERTY ALERTS</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="profile-link active" id="pills-Iprofile-tab" data-bs-toggle="pill" data-bs-target="#pills-Iprofile" type="button" role="tab" aria-controls="pills-Iprofile" aria-selected="false">PROFILE</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="profile-link" id="pills-subscription-tab" data-bs-toggle="pill" data-bs-target="#pills-subscription" type="button" role="tab" aria-controls="pills-subscription" aria-selected="false">SUBSCRIPTION</button>
                </li>
            </ul>
        </div>
    </div>
</section>

<div class="xyz">
    <div class="container">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">ACCOUNT SUMMARY</div>

            <div class="tab-pane fade" id="pills-responses" role="tabpanel" aria-labelledby="pills-responses-tab">CONTACTS/RESPONSES</div>

            <div class="tab-pane fade" id="pills-myproperties" role="tabpanel" aria-labelledby="pills-myproperties-tab">PROPERTIES</div>

            <div class="tab-pane fade" id="pills-alerts" role="tabpanel" aria-labelledby="pills-alerts-tab">
              <div class="alerts-tabs">
                <div class="myalerts">
                  <div class="head-alert">
                    <h4>My Property Alerts</h4>
                  </div>
                  <div class="new-alert">
                    <a routerLink="javascript::void(0)">SET NEW PROPERTY ALERT</a>
                  </div>
                </div>

                <div class="alerts-box">
                  <div class="row">
                    <div class="col-lg-10 col-md-6 col-sm-12">
                      <p class="criteria-titles"><strong>Alerts Criteria -</strong> To rent <strong>1 BHK</strong> Builder Floor Apartment
                        in <strong>Ahmedabad, Vejalpur</strong> in range of <strong>1000 to 5000.</strong></p>

                      <p class="criteria-titles mt-4">Alerts Frequency - Daily</p>

                      <div class="maching-all">
                        <div class="edit-and-maching">
                          <div class="search-maching">
                            <a href="#">SEARCH MATCHING PROPERTIES</a>
                          </div>
                          <div class="edit-maching">
                            <a href="#">EDIT</a> <span class="h-line">|</span> <a href="#">UNSUBSCRIBE</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <p class="alert-post-date">Posted: Apr 27, '09</p>
                    </div>
                  </div>
                </div>

                <div class="alerts-box">
                  <div class="row">
                    <div class="col-lg-10 col-md-6 col-sm-12">
                      <p class="criteria-titles"><strong>Alerts Criteria -</strong> To rent <strong>1 BHK</strong> Builder Floor Apartment
                        in <strong>Ahmedabad, Vejalpur</strong> in range of <strong>1000 to 5000.</strong></p>

                      <p class="criteria-titles mt-4">Alerts Frequency - Daily</p>

                      <div class="maching-all">
                        <div class="edit-and-maching">
                          <div class="search-maching">
                            <a href="#">SEARCH MATCHING PROPERTIES</a>
                          </div>
                          <div class="edit-maching">
                            <a href="#">EDIT</a> <span class="h-line">|</span> <a href="#">UNSUBSCRIBE</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <p class="alert-post-date">Posted: Apr 27, '09</p>
                    </div>
                  </div>
                </div>

                <div class="alerts-box">
                  <div class="row">
                    <div class="col-lg-10 col-md-6 col-sm-12">
                      <p class="criteria-titles"><strong>Alerts Criteria -</strong> To rent <strong>1 BHK</strong> Builder Floor Apartment
                        in <strong>Ahmedabad, Vejalpur</strong> in range of <strong>1000 to 5000.</strong></p>

                      <p class="criteria-titles mt-4">Alerts Frequency - Daily</p>

                      <div class="maching-all">
                        <div class="edit-and-maching">
                          <div class="search-maching">
                            <a href="#">SEARCH MATCHING PROPERTIES</a>
                          </div>
                          <div class="edit-maching">
                            <a href="#">EDIT</a> <span class="h-line">|</span> <a href="#">UNSUBSCRIBE</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <p class="alert-post-date">Posted: Apr 27, '09</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane show active" id="pills-Iprofile" role="tabpanel" aria-labelledby="pills-Iprofile-tab">

                <div class="">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="profile-tab">

                                <div class="profile-box flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="Mprofile-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</button>

                                <button class="Mprofile-link" id="v-pills-login-details-tab" data-bs-toggle="pill" data-bs-target="#v-pills-login-details" type="button" role="tab" aria-controls="v-pills-login-details" aria-selected="false">Edit Login Details</button>

                                <button class="Mprofile-link" id="v-pills-change-pass-tab" data-bs-toggle="pill" data-bs-target="#v-pills-change-pass" type="button" role="tab" aria-controls="v-pills-change-pass" aria-selected="false">Change Password</button>

                                <button class="Mprofile-link" id="v-pills-save-message-tab" data-bs-toggle="pill" data-bs-target="#v-pills-save-message" type="button" role="tab" aria-controls="v-pills-save-message" aria-selected="false">Saved Messages</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <div class="profile_details">
                            <div class="tab-content profile-content" id="v-pills-tabContent">

                                <div class="tab-pane table-responsive fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                    <table class="profile_table">
                                        <tr>
                                          <th>Name:</th>
                                          <td>{{ userdetail.name }}</td>
                                        </tr>
                                        <tr>
                                          <th>Registered As:</th>
                                          <td>{{ userdetail.role }}</td>
                                        </tr>
                                        <tr>
                                          <th>Email:</th>
                                          <td>{{ userdetail.email }}</td>
                                          <td><span class="profile_verify">verified</span></td>
                                        </tr>
                                        <tr>
                                          <th>Alternate Email:</th>
                                          <td>rajputarvind@gmail.com</td>
                                          <td><span class="profile_verify">verified</span></td>
                                          <td><span class="profile_data_changes">CHANGE ALTERNATE EMAIL</span></td>
                                        </tr>
                                        <tr>
                                          <th>Mobile:</th>
                                          <td>9427801299</td>
                                          <td><span class="profile_verify">verified</span></td>
                                          <td><span class="profile_data_changes">CHANGE MOBILE</span></td>
                                        </tr>
                                        <tr>
                                          <th>Password:</th>
                                          <td>Not shown due to security reasons </td>
                                          <td></td>
                                          <td><span class="profile_data_changes">CHANGE PASSWORD</span></td>
                                        </tr>
                                      </table>
                                      <div class="deactived">
                                        <a href="#">DEACTIVATE</a>
                                      </div>
                                </div>

                                <div class="tab-pane fade show active" id="v-pills-login-details" role="tabpanel" aria-labelledby="v-pills-login-details-tab">
                                  <div class="login-details">
                                    <p class="id-email">Email Id: <span class="text-dark"> {{ userdetail.email }}</span></p>
                                    <div class="login-edit">
                                      <form action="">
                                        <label for="User-Type" class="label-form">User Type {{ userdetail.role }}</label><br>
                                        <select name="City" id="City" class="iform-input" [(ngModel)]="userdetail.role" style="width: 32%;">
                                          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                                        </select>
                                        <div class="row">
                                          <div class="col-lg-4 col-md-6 col-sm-12">
                                            <label for="fname" class="label-form">Name <span class="text-danger">*</span></label><br>
                                            <input type="text" id="fname" name="fname" [(ngModel)]="userdetail.name" class="iform-input"required><br>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12">
                                            <label for="alt-email" class="label-form">Alternate Email ID</label><br>
                                            <input type="email" id="alt-email" name="alt-email" class="iform-input m-0"><br>
                                            <div class="check-compare">
                                              <input type="checkbox" id="alternat-id" name="alternat-id" value="alternat-id" class="mycheck">
                                              <label for="alternat-id" class="compares">Select this check box to receive emails on alternate email id</label><br>
                                          </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-4 col-md-6 col-sm-12">
                                            <label for="alt-email" class="label-form">Mobile</label><br>
                                            <div class="row">
                                              <div class="col-md-5">
                                                  <select name="number-code" id="number-code" class="iform-input">
                                                      <option value="Ind +91">Ind +91</option>
                                                      <option value="USA: +1">USA: +1</option>
                                                      <option value="UK: +44">UK: +44</option>
                                                      <option value="Mexico: +52">Mexico: +52</option>
                                                      <option value="China: +86">China: +86</option>
                                                    </select>
                                              </div>
                                              <div class="col-md-7">
                                               <input type="number" id="goldNum" name="goldNum" class="iform-input"required><br>
                                              </div>
                                          </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="redio-box  mt-lg-5 mt-sm-0">
                                              <input type="radio" id="receive-SMS" name="fav_language" value="receive-SMS">
                                              <label for="receive-SMS">Select the mobile on which you want to receive SMS</label><br>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="redio-box mt-2">
                                          <p class="m-0 text-dark">Primary Mobile number is Virtual:</p>
                                          <input type="radio" id="no" name="fav_language" value="no">
                                          <label for="no">no</label><br>
                                          <input type="radio" id="Yes" name="fav_language" value="Yes">
                                          <label for="Yes">Yes</label><br>
                                        </div>
                                        <div class="redio-box mt-3">
                                          <p class="m-0 text-dark hide-contact">Hide Contact Details:</p>
                                          <input type="radio" id="show" name="fav_language" value="show">
                                          <label for="show">No, show it to all users</label><br>
                                          <input type="radio" id="Yes-more" name="fav_language" value="Yes-more">
                                          <label for="Yes-more">Yes</label><br>
                                        </div>
                                        <div class="check-compare mt-4">
                                          <input type="checkbox" id="communication" name="communication" value="communication" class="mycheck">
                                          <label for="communication" class="compares">I Agree to RealtyMart Terms of Use' Terms & Conditions. I would like to receive property related communication through Email, Call or SMS</label><br>
                                      </div>
                                      <div class="edit-save">
                                        <a routerLink="javascript::void(0)">SAVE</a>
                                      </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-change-pass" role="tabpanel" aria-labelledby="v-pills-change-pass-tab">
                                    <p class="id-email">Email Id: <span class="text-dark"> {{ userdetail.email }}</span></p>
                                    <div class="password">
                                      <form #myForm="ngForm" (ngSubmit)="changePassword(myForm)">
                                        <label for="old-pwd" class="label-form">Old Password <span class="text-danger">*</span></label><br>
                                        <input type="password" id="old-pwd" name="old_password" [(ngModel)]="changePasswordForm.old_password" minlength="8" class="iform-input" required><br>

                                        <label for="new-pwd" class="label-form">New Password <span class="text-danger">*</span></label><br>
                                        <input type="password" id="new-pwd" name="new_password" [(ngModel)]="changePasswordForm.new_password" minlength="8" class="iform-input"required><br>

                                        <label for="conf-pwd" class="label-form">Confirm Password <span class="text-danger">*</span></label><br>
                                        <input type="password" id="conf-pwd" name="confpwd" [(ngModel)]="changePasswordForm.confpwd" minlength="8" class="iform-input"required>

                                        <div class="edit-save m-0">
                                          <button type="submit">Submit</button>
                                        </div>
                                      </form>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-save-message" role="tabpanel" aria-labelledby="v-pills-save-message-tab">
                                  <div class="save-msg">

                                    <ul class="save nav-pills mb-3" id="pills-tab" role="tablist">
                                      <li class="nav-item" role="presentation">
                                        <button class="save-link active" id="pills-save-pro-tab" data-bs-toggle="pill" data-bs-target="#pills-save-prop" type="button" role="tab" aria-controls="pills-save-prop" aria-selected="true">FOR PROPERTY</button>
                                      </li>
                                      <li class="nav-item" role="presentation">
                                        <button class="save-link" id="pills-requirements-tab" data-bs-toggle="pill" data-bs-target="#pills-requirements" type="button" role="tab" aria-controls="pills-requirements" aria-selected="false">FOR REQUIREMENTS</button>
                                      </li>
                                      <li class="nav-item" role="presentation">
                                        <button class="save-link" id="pills-save-agent-tab" data-bs-toggle="pill" data-bs-target="#pills-save-agent" type="button" role="tab" aria-controls="pills-save-agent" aria-selected="false">FOR AGENTS</button>
                                      </li>
                                      <li class="nav-item" role="presentation">
                                        <button class="save-link" id="pills-save-builders-tab" data-bs-toggle="pill" data-bs-target="#pills-save-builders" type="button" role="tab" aria-controls="pills-save-agent" aria-selected="false">FOR BUILDERS</button>
                                      </li>
                                    </ul>
                                    <div class="tab-content save-content" id="pills-tabContent">
                                      <div class="tab-pane fade show active" id="pills-save-prop" role="tabpanel" aria-labelledby="pills-save-pro-tab">
                                        <div class="create-save">
                                          <p>This section gives you easy access to contact Multiple Property Listings.
                                            In case you want to update the message, please edit & save it.</p>

                                            <textarea id="saved-messages" name="saved-messages" rows="6" cols="50" class="save-msg-textarea"></textarea>
                                            <p>1000 Characters left</p>

                                            <div class="edit-save mt-2">
                                              <a href="#">SAVE</a>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane fade" id="pills-requirements" role="tabpanel" aria-labelledby="pills-requirements-tab">
                                        <div class="create-save">
                                          <p>This section gives you easy access to contact Multiple Property Listings.
                                            In case you want to update the message, please edit & save it.</p>

                                            <textarea id="saved-messages" name="saved-messages" rows="6" cols="50" class="save-msg-textarea"></textarea>
                                            <p>1000 Characters left</p>

                                            <div class="edit-save mt-2">
                                              <a href="#">SAVE</a>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane fade" id="pills-save-agent" role="tabpanel" aria-labelledby="pills-save-agent-tab">
                                        <div class="create-save">
                                          <p>This section gives you easy access to contact Multiple Property Listings.
                                            In case you want to update the message, please edit & save it.</p>

                                            <textarea id="saved-messages" name="saved-messages" rows="6" cols="50" class="save-msg-textarea"></textarea>
                                            <p>1000 Characters left</p>

                                            <div class="edit-save mt-2">
                                              <a href="#">SAVE</a>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane fade" id="pills-save-builders" role="tabpanel" aria-labelledby="pills-save-builders-tab">
                                        <div class="create-save">
                                          <p>This section gives you easy access to contact Multiple Property Listings.
                                            In case you want to update the message, please edit & save it.</p>

                                            <textarea id="saved-messages" name="saved-messages" rows="6" cols="50" class="save-msg-textarea"></textarea>
                                            <p>1000 Characters left</p>

                                            <div class="edit-save mt-2">
                                              <a href="#">SAVE</a>
                                            </div>
                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                </div>
            </div>
            </div>
            <div class="tab-pane fade" id="pills-subscription" role="tabpanel" aria-labelledby="pills-subscription-tab">SUBSCRIPTION</div>
          </div>
    </div>
</div>

<section class="information-front">
  <div class="container">
    <h6 class="info-head">The information provided herein have been collected from publicly available sources, and is yet to be verified as per RERA guidelines.*</h6>
    <div class="more-points">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h6 class="info-title">REAL ESTATE</h6>
          <p class="info-locator">Gujarat Real Estate  |  Ahmedabad Real Estate  |  Surat Real Estate  |  Baroda Real Estate  |  Rajkot Real Estate</p>

          <h6 class="info-title">BUY PROPERTY</h6>
          <p class="info-locator">Buy Property in Guajrat  |  Buy Property in Ahmedabad  |  Buy Property in Surat  |  Buy Property in Baroda  |  Buy Property in Rajkot</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h6 class="info-title">COWORKING SPACE</h6>
          <p class="info-locator">Office space in Gujarat  |  Office space in Ahmedabad  |  Office space in Surat  |  Office space in Baroda  |  Office space in Rajkot</p>

          <h6 class="info-title">PROPERTIES FOR RENT</h6>
          <p class="info-locator">Rent Property in Guajrat  |  Rent Property in Ahmedabad  |  Rent Property in Surat  |  Rent Property in Baroda  |  Rent Property in Rajkot</p>
        </div>
      </div>
    </div>
  </div>
  <div class="info-bottom">
    <div class="container">
      <p class="info-pera"> is India's premium real estate portal where users can find Independent Houses / Villas, Apartments/Flats and Plots for sale and rent in 4 cities across Guajrat, India.  helps the property seeker to find Resale properties, Residential Projects and Owner properties in Ahmedabad, Baroda, Surat and Rajkot.  provides complete details of Project launches, under construction projects and ready-to-move projects with detailed description of locality, builder, price trends and features.</p>
    </div>
  </div>
</section>
</main>
