<main>
  <section class="selling_guides">
    <div class="container">
      <div class="row top_guides">
        <div class="col-lg-7 col-md-12">
          <h1 class="free_advertisement">
            Place a <span>Free</span> online advertisement to sell or rent your
            property!
          </h1>
          <div class="advertisement">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <img
                  src="../../../assets/images/advertisement.png"
                  alt="advertisement"
                  class="img-fluid"
                />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="advertisement_points">
                  <li>Access a network of over 4 lakh buyers.</li>
                  <li>Expedite your sale with premium service.</li>
                  <li>Receive expert advice on market trends and insights</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="quick_steps">
            <h2 class="guide_head">Just 5 Quick Steps & You'll Be Done!</h2>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 mb-5 mb-sm-3">
                <img
                  class="img-fluid"
                  src="../../../assets/images/Steps1.png"
                  alt
                />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 mb-5 mb-sm-4">
                <p class="step_bx">Step 1</p>
                <h3 class="step_head">Tell Us About Your Home</h3>
                <ul class="step_points">
                  <li>
                    Adding details of your property makes it stand out & helps
                    you <span>grab more eyeballs</span>. What is needed?
                  </li>
                  <li>
                    Just your address, area, construction status, price & a few
                    photos
                  </li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 mb-5 mb-sm-3">
                <img
                  class="img-fluid"
                  src="../../../assets/images/Steps2.png"
                  alt
                />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 mb-5 mb-sm-4">
                <p class="step_bx">Step 2</p>
                <h3 class="step_head">Market Your Home</h3>
                <ul class="step_points">
                  <li>
                    Reach out to <span>10X more</span> buyers/tenants & get more
                    responses.
                  </li>
                  <li>
                    What to do? Verify your property to earn a tag, go for a
                    <span>Professional Photoshoot</span> or Promote it on
                    <span>Social Media</span>
                  </li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 mb-5 mb-sm-3">
                <img
                  class="img-fluid"
                  src="../../../assets/images/Steps3.png"
                  alt
                />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 mb-5 mb-sm-4">
                <p class="step_bx">Step 3</p>
                <h3 class="step_head">Compare Responses</h3>
                <ul class="step_points">
                  <li>
                    Check the past <span>reviews</span> of buyers tenants &
                    compare the <span>profiles of responses</span>
                  </li>
                  <li>
                    How it helps? Your decisions cannot go wrong. It helps your
                    shortlist the best profiles.
                  </li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 mb-5mb-sm-3">
                <img
                  class="img-fluid"
                  src="../../../assets/images/Steps4.png"
                  alt
                />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 mb-5 mb-sm-4">
                <p class="step_bx">Step 4</p>
                <h3 class="step_head">Close The Deal</h3>
                <ul class="step_points">
                  <li>
                    Once you have made up your mind on a response, get it
                    verified both legally & financially with us.
                  </li>
                  <li>
                    How is it done? You can sit back & relax! Everything is done
                    online or by our team.
                  </li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12">
                <img
                  class="img-fluid"
                  src="../../../assets/images/Steps5.png"
                  alt
                />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <p class="step_bx">Step 5</p>
                <h3 class="step_head">Hassle-Free Documentation</h3>
                <ul class="step_points">
                  <li>
                    Documentation? No longer an issue! We help you with Sale
                    Agreement, Rent Agreement or any other legal document that
                    you may need.
                  </li>
                  <li>
                    How we help? Our team of specialized lawyers & experts are
                    there to assist you at every step.
                  </li>
                </ul>
              </div>
            </div>
            <h2 class="guide_head">
              Guidance For Successfully Selling A Property On The Internet
            </h2>
            <div class="internert_guide">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 mb-3">
                  <img
                    class="img-fluid guide_mg"
                    src="../../../assets/images/Guidance1.png"
                    alt
                  />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 mb-3">
                  <h5 class="sell_title">
                    Publish Your Property Advertisement
                  </h5>
                  <p class="sell_pera">
                    Provide all information, including the locality name,
                    amenities, etc., and upload photos.
                  </p>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 mb-3">
                  <img
                    class="img-fluid guide_mg"
                    src="../../../assets/images/Guidance2.png"
                    alt
                  />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 mb-3">
                  <h5 class="sell_title">Include High-Quality Photographs</h5>
                  <p class="sell_pera">
                    Ensure to include high-quality images, as they play a
                    crucial role in making your property stand out.
                  </p>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 mb-3">
                  <img
                    class="img-fluid guide_mg"
                    src="../../../assets/images/Guidance3.png"
                    alt
                  />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 mb-3">
                  <h5 class="sell_title">
                    Select The Accurate Locality Or Address
                  </h5>
                  <p class="sell_pera">
                    Ensure precise mapping of your locality when providing
                    property details. Including the correct locality is crucial
                    for receiving authentic inquiries about your property.
                  </p>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 mb-3">
                  <img
                    class="img-fluid guide_mg"
                    src="../../../assets/images/Guidance4.png"
                    alt
                  />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 mb-3">
                  <h5 class="sell_title">
                    Craft An Excellent Property Description
                  </h5>
                  <p class="sell_pera">
                    Offer a concise property description showcasing key features
                    and pertinent details to assist buyers in their
                    decision-making process.
                  </p>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12">
                  <img
                    class="img-fluid guide_mg"
                    src="../../../assets/images/Guidance5.png"
                    alt
                  />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12">
                  <h5 class="sell_title">Include Supplementary Information</h5>
                  <p class="sell_pera">
                    In order to enhance your property's visibility and attract
                    potential buyers, it's essential to include comprehensive
                    details such as furnishing type, flooring, water supply,
                    etc. This information will contribute to a higher ranking in
                    search results and capture the buyer's attention.
                  </p>
                </div>
              </div>
            </div>
            <h2 class="guide_head">
              Advantages Of Marketing Your Property Online
            </h2>
            <p class="Advantages_Marketing">
              With a multitude of real estate websites available, posting your
              property online has become a simple, convenient, and stress-free
              process. Here are some advantages of engaging in buying and
              selling activities for your property on the internet:
            </p>
            <div class="online_proparty">
              <div class="online_box">
                <div class="count_point">
                  <p>1</p>
                </div>
                <div class="count_details">
                  <h5 class="sell_title">Efficient In Terms Of Time</h5>
                  <p class="sell_pera">
                    Listing your property on online platforms like RealtyMart can save you time, allow flexible booking
                    management, and swiftly generate high-quality leads.
                  </p>
                </div>
              </div>
              <div class="online_box">
                <div class="count_point">
                  <p>2</p>
                </div>
                <div class="count_details">
                  <h5 class="sell_title">
                    Increase Visibility To Potential Buyers
                  </h5>
                  <p class="sell_pera">
                    A significant number of potential buyers prefer searching
                    online, a more convenient alternative to visiting individual
                    properties. This enhances your property's exposure to a
                    broader audience, reaching thousands of online buyers.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div
              class="float-widget"
              [ngStyle]="{ position: isFixed ? 'fixed' : 'static' }"
            >
              <div class="referral-form-web">
                <div class="pp-form" id="details-container">
                  <div class="pp-form__legend">Let's get you started</div>
                  <div class="pp-form__fieldset">
                    <div class="pp-form__fieldset__heading">You are:</div>
                    <input type="hidden" id="user__type" value />
                    <input type="hidden" id="prop__type" value />
                    <input type="hidden" id="ownerdashboardUrl" value />
                    <div class="pp-form__fieldset__wrap">
                      <div
                        class="pp-form__elem-radio"
                        style="width: 90px; height: 44px"
                      >
                        <input
                          class="pp-form__elem-radio__input"
                          name="role"
                          type="radio"
                          id="Owner"
                          autocomplete="off"
                          value="Owner"
                          [(ngModel)]="formData.role"
                        />

                        <label class="pp-form__elem-radio__label" for="Owner">
                          Owner
                        </label>
                      </div>
                      <div
                        class="pp-form__elem-radio"
                        style="width: 86px; height: 44px"
                      >
                        <input
                          class="pp-form__elem-radio__input"
                          name="role"
                          type="radio"
                          id="Agent"
                          autocomplete="off"
                          value="Agent"
                          [(ngModel)]="formData.role"
                        />
                        <label class="pp-form__elem-radio__label" for="Agent">
                          Agent
                        </label>
                      </div>
                      <div
                        class="pp-form__elem-radio"
                        style="width: 94px; height: 44px"
                      >
                        <input
                          class="pp-form__elem-radio__input"
                          name="role"
                          type="radio"
                          id="Builder"
                          autocomplete="off"
                          value="Builder"
                          [(ngModel)]="formData.role"
                        />
                        <label class="pp-form__elem-radio__label" for="Builder">
                          Builder
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="pp-form__fieldset">
                    <div class="pp-form__fieldset__heading">
                      You are here to:
                    </div>
                    <div class="pp-form__fieldset__wrap">
                      <div
                        class="pp-form__elem-radio"
                        style="width: 67px; height: 44px"
                      >
                        <input
                          class="pp-form__elem-radio__input"
                          name="property_for"
                          type="radio"
                          id="Sell"
                          value="Sell"
                          autocomplete="off"
                          [(ngModel)]="formData.property_for"
                        />
                        <label class="pp-form__elem-radio__label" for="Sell">
                          Sell
                        </label>
                      </div>
                      <div
                        class="pp-form__elem-radio"
                        style="width: 116px; height: 44px"
                      >
                        <input
                          class="pp-form__elem-radio__input"
                          name="property_for"
                          type="radio"
                          id="Rent"
                          value="Rent"
                          autocomplete="off"
                          [(ngModel)]="formData.property_for"
                        />
                        <label class="pp-form__elem-radio__label" for="Rent">
                          Rent/lease
                        </label>
                      </div>

                      <div
                        class="pp-form__elem-radio"
                        style="width: 110px; height: 44px"
                      >
                        <input
                          class="pp-form__elem-radio__input"
                          name="property_for"
                          type="radio"
                          id="pg"
                          value="PG/Hostel"
                          autocomplete="off"
                          [(ngModel)]="formData.property_for"
                        />
                        <label class="pp-form__elem-radio__label" for="pg">
                          PG
                        </label>
                       
                      </div>
                    </div>
                  </div>

                  <div class="pp-form__fieldset contact">
                    <div class="pp-form__fieldset__heading">
                      <strong>Your contact number</strong>
                    </div>
                    <div class="pp-form__field pp-form__field--mobile">
                      <div class="pp-form__group pp-form__group--isd">
                        <select name="isd" id="ownerISD">
                          <option value="+91" selected="selected">
                            IND +91
                          </option>
                          <option value="269">YUG +381</option>
                          <option value="59">ZAF +27</option>
                          <option value="271">ZWE +263</option>
                        </select>
                      </div>
                      <div class="pp-form__group">
                        <input
                          type="tel"
                          class="pp-form__input"
                          id="ownerMobile"
                          placeholder="WhatsApp Number"
                          name="contact_no"
                          [(ngModel)]="formData.contact_no"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="userWhatsapp--wrapper">
                    <div class="userWhatsapp--info">
                      Provide your<span class="whatsapp-icon"></span>WhatsApp
                      number to receive inquiries from potential buyers or
                      tenants.
                    </div>
                  </div>
                  <div class="pp-form__action pp-form__action--fixed">
                    <button class="pp-form__cta">Continue</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Modal -->
<div
  class="modal fade"
  #exampleModal
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header sign-in-box">
        <button
          type="button"
          class="btn-close prt_popup"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body fill_pop">
        <h2>Need help in posting your property?</h2>
        <p>Let our Property Expert help you.</p>
        <form [formGroup]="contactStore" (ngSubmit)="addContact()">
          <div class="pp-exit-intent__form">
            <div class="pp-exit-intent__mobile">
              <span class="pp-exit-intent__mobile-isd">+91</span>
              <input
                type="tel"
                formControlName="mobile"
                placeholder="Enter Mobile No."
                class="pp-exit-intent__mobile-input"
                id="exitMobile"
              />
            </div>
            <div
              class="pp-exit-intent__form__error"
              *ngIf="contactStore.get('mobile')?.invalid && contactStore.get('mobile')?.touched"
            >
              Please enter a valid mobile number
            </div>
          </div>

          <div class="pp-exit-intent__action">
            <a
              data-bs-dismiss="modal"
              aria-label="Close"
              class="pp-exit-intent__btn pp-exit-intent__btn--white"
              >Maybe Later</a
            >
            <button type="submit" class="pp-exit-intent__btn">Submit</button>
          </div>
        </form>
        <div class="pp-exit-intent__footer">
          Need some help? Give us a call at
          <a routerLink="tel:917378373783">+91 73 783 73 783</a>
        </div>
      </div>
    </div>
  </div>
</div>
